<div class="surrounding_journeys">

</div>

<%= form.label :start_time, "Select Date & Time" %>
<%= form.text_field :start_time, value: Time.now.strftime("%d/%m/%Y %H:%M") %>

<% if current_team.solo_team? %>
  <%= form.hidden_field :supplier_id, value: current_supplier.id %>
<% else %>
  <%= form.label :supplier_id, "Select Driver" %>
  <%= form.select :supplier_id, current_supplier.team.suppliers.collect {|u| [u.name, u.id]} %>
<% end %>

<%= form.label :seats, 'Number of available seats' %>
<%= form.number_field :seats %>

<%= form.label :open_to_bookings, "Open to Bookings?" %>
<%= form.check_box :open_to_bookings %>

<% content_for :js do %>
<script type="text/javascript">
  $('#journey_start_time').datetimepicker({
    format:'d/m/Y H:i'
  });

  $(function() {
    $('#journey_start_time').change(function() {
      $.get(
        '<%= surrounding_journeys_admin_journeys_path %>',
        {
          datetime: $('#journey_start_time').val(),
          route_id: $('input[name=\'journey[route_id]\']:checked').val()
        },
        function(html) {
          $('.surrounding_journeys').html(html);
        }
      )
    })
  })
</script>
<% end %>
