<section id="sup_route_journeys">
  <div class="card-cont">
    <% if @journeys.exists? %>
      <div id="team_toggle">
        <% if params[:filter] == 'team' %>
          <%= link_to admin_journeys_path() do %>
            Me
            <div class="switch">
              <input type="checkbox" checked>
              <div class="slider round"></div>
            </div>
            Team
          <% end %>
        <% else %>
          <%= link_to admin_journeys_path(filter: 'team') do %>
            Me
            <div class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </div>
            Team
          <% end %>
        <% end %>  
      </div>
      <% @journeys.each do |journey| %>
        <div class="card">
          <div class="inner">
            <%= link_to journey.start_time.strftime("%F"), admin_journey_path(journey) %>
            <%= journey.supplier.name %>
            <%= pluralize(journey.bookings.count, "booking") %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You currently do not have any journeys, <%= link_to "add a new journey", new_admin_journey_path %> now to get started.</p>
    <% end %>
    
    <%= link_to new_admin_journey_path do %>
      <button>Add a journey</button>
    <% end %>
  </div>
</section>
