<% if !current_team.solo_team? %>
  <div class="inline" id="admin-team-filter">
    <h4>
    <% if params[:filter] == 'team' %>
      <strong>Team's Journeys</strong>
      |
      <%= link_to admin_journeys_path(filterrific: params[:filterrific]) do %>
        My Journeys
      <% end %>
    <% else %>
      <strong>My Journeys</strong>
      |
      <%= link_to admin_journeys_path(filter: 'team', filterrific: params[:filterrific]) do %>
        Team's Journeys
      <% end %>
    <% end %>
    </h4>
  </div>
<% end %>
<div class="action">
  <%= link_to new_admin_journey_path do %>
    <div class="button">Add a journey</div>
  <% end %>
</div>

<div id="admin-journey-filters" class="action<%= " inline" if current_team.solo_team? %>">

  <div id="booked_or_empty" class="tabs-container three-tabs">
    <div class="tab radius border-left-radius<%= " selected" if @filterrific.booked_or_empty == nil %>" data-tabid="">
      All
    </div>
    <div class="tab<%= " selected" if @filterrific.booked_or_empty == 'booked' %>" data-tabid="booked">
      Booked
    </div>
    <div class="tab radius border-right-radius<%= " selected" if @filterrific.booked_or_empty == 'empty' %>" data-tabid="empty">
      Empty
    </div>
  </div>
  <div id="past_or_future" class="tabs-container">
    <div class="tab radius border-left-radius<%= " selected" if @filterrific.past_or_future == 'future' %>" data-tabid="future">
      Upcoming
    </div>
    <div class="tab radius border-right-radius<%= " selected" if @filterrific.past_or_future == 'past' %>" data-tabid="past">
      Past
    </div>
  </div>

  <div class="hidden">
    <%= form_for_filterrific @filterrific do |form| %>
      <%= hidden_field_tag :filter, params[:filter] %>
      <%= form.select(
        :past_or_future,
        [
          ['Past', 'past'],
          ['Future', 'future'],
        ],
        { include_blank: '- Any -' }
      ) %>

      <%= form.select(
        :booked_or_empty,
        [
          ['Booked', 'booked'],
          ['Empty', 'empty'],
        ],
        { include_blank: '- Any -' }
      ) %>

      <%= submit_tag "Update filter", name: nil %>
    <% end %>
  </div>
</div>

<% if @journeys.exists? %>
  <% @journeys.each do |journey| %>
    <%= link_to admin_journey_path(journey), class: "jrny-single card" do %>
      <div class="<%= " past-journey" if journey.start_time.past? %><%= journey.supplier.name == @current_supplier.name ? " my-journey" : " team-journey" %>" id="jrny_<%= journey.id %>" data-booked="<% if journey.is_booked? %>true<% else %>false<% end %>">
        <div class="col-10 mobile-twoThird">
          <p><%= friendly_date journey.start_time %> <%= journey.start_time.strftime("%H:%M") %></p>
          <p><%= journey.route.name %></p>
          <% if journey.supplier.name != @current_supplier.name %>
            <p><strong>Driver:</strong> <%= journey.supplier.name %></p>
          <% end %>
        </div>
        <div class="bookings col-2 omega mobile-third">
          <h4 class="mt1"><span class="number"><%= journey.all_bookings.count %></span><br>
          <%= "booking".pluralize(journey.all_bookings.count) %></h4>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>There are no journeys to be found here either try another filter, or <%= link_to "add a new journey", new_admin_journey_path %> now to get started.</p>
<% end %>

<%= paginate @journeys %>

<div class="action">
  <%= link_to new_admin_journey_path do %>
    <div class="button">Add a journey</div>
  <% end %>
</div>

<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.tab').click(function() {
      if ($(this).hasClass('selected')) {
        var parentID = $(this).parent().attr('id');
        console.log(parentID);
        $('#filterrific_'+parentID).val($(this).data('tabid'));
        $('#filterrific_filter').submit();
      }
    });
  });
</script>
<% end %>