%section.section
  .card
    %h2 Journeys
    - if !current_team.solo_team?
      #admin-team-filter.inline
        %h4
          - if params[:filter] == 'team'
            %strong Team's Journeys
            = link_to admin_journeys_path(filterrific: params[:filterrific]) do
              My Journeys
          - else
            %strong My Journeys
            = link_to admin_journeys_path(filter: 'team', filterrific: params[:filterrific]) do
              Team's Journeys
    #admin-journey-filters.tabs
      #booked_or_empty.tabs-container.three-tabs
        %div{:class => "tab radius border-left-radius#{" selected" if @filterrific.booked_or_empty == nil}", "data-tabid" => ""}
          All
        %div{:class => "tab#{" selected" if @filterrific.booked_or_empty == 'booked'}", "data-tabid" => "booked"}
          Booked
        %div{:class => "tab radius border-right-radius#{" selected" if @filterrific.booked_or_empty == 'empty'}", "data-tabid" => "empty"}
          Empty
      #past_or_future.tabs-container
        %div{:class => "tab radius border-left-radius#{" selected" if @filterrific.past_or_future == 'future'}", "data-tabid" => "future"}
          Upcoming
        %div{:class => "tab radius border-right-radius#{" selected" if @filterrific.past_or_future == 'past'}", "data-tabid" => "past"}
          Past
      .hidden
        = form_for_filterrific @filterrific do |form|
          = hidden_field_tag :filter, params[:filter]
          = form.select(:past_or_future, [['Past', 'past'], ['Future', 'future'],],{ include_blank: '- Any -' })
          = form.select(:booked_or_empty, [['Booked', 'booked'], ['Empty', 'empty'],],{ include_blank: '- Any -' })
          = submit_tag "Update filter", name: nil
    - if @journeys.exists?
      - @journeys.each do |journey|
        = link_to admin_journey_path(journey), class: "card journey" do
          %div{:class => "#{" past-journey" if journey.start_time.past?}#{journey.team == current_team ? " my-journey" : " team-journey"}", "data-booked" => "if journey.is_booked? true else false", :id => "jrny_#{journey.id}"}
            %ul
              %li
                = friendly_date journey.start_time
                = journey.start_time.strftime("%H:%M")
              %li= journey.route.name
              %li
                %span.number= journey.all_bookings.count
                = "booking".pluralize(journey.all_bookings.count)
    - else
      .card.journey
        %p
          There are no journeys to be found here either try another filter, or #{link_to "add a new journey", new_admin_journey_path} now to get started.
    = paginate @journeys
    .action.primary
      = link_to new_admin_journey_path do
        .button Add a journey
- content_for :js do
  :javascript
    $(document).ready(function() {
      $('.tab').click(function() {
        if ($(this).hasClass('selected')) {
          var parentID = $(this).parent().attr('id');
          console.log(parentID);
          $('#filterrific_'+parentID).val($(this).data('tabid'));
          $('#filterrific_filter').submit();
        }
      });
    });
