<section id="sup_route_journeys">
  <div class="card">
    <div class="inner">
      <table>
        <tr>
          <th>Date</th>
          <th>Driver</th>
          <th>Vehicle</th>
          <% @route.stops.each do |stop| %>
            <th><%= stop.name %></th>
          <% end %>
          <th></th>
        </tr>
        <% @journeys.each do |journey| %>
          <tr>
            <td><%= journey.start_time.strftime("%F") %></td>
            <td><%= journey.supplier.email %></td>
            <td><%= journey.vehicle.registration %></td>
            <% journey.stops.each do |stop| %>
              <td><%= stop.time_for_journey(journey).strftime("%H:%M") %></td>
            <% end %>
            <td>
              <%= link_to edit_admin_route_journey_path(@route, journey) do %>
                <button>Edit</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="card">
    <%= form_for [:admin, @route, Journey.new] do |form| %>
      <div class="inner">
        <h4>Add a New Journey</h4>
        <%= render partial: 'fields', locals: {form: form} %>
      </div>
      <%= form.submit "Create Journey", :class => "cardBtn" %>
    <% end %>
  </div>
</section>
