<div id="sup_edit_jrny" class="container">
  <h2>Add a New Journey</h2>
  <%= form_for [:admin, @journey] do |form| %>
    <div class="sup_edit_jrny">
      <div class="twoThird">
        <p class="highlight"><%= @journey.route_name %></p>
        <p>Via <%= @journey.stops_in_direction.count-2 %> Possible Stops:</p>
        <ul>
          <% @journey.stops_in_direction[1..-2].each_with_index do |stop| %>
            <li><%= stop.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="third mobFull">
        <select multiple id="select_<%= @route.id %>" class="waypoints" style="display:none;">
          <% @journey.stops_in_direction.each do |stop| %>
            <option value="<%= stop.place.latitude %>, <%= stop.place.longitude %>" selected><%= stop.name %></option>
          <% end %>
        </select>
        <div id="map_<%= @route.id %>" class="route_preview"></div>
      </div>
    </div>

    <div class="sup_edit_jrny_info">
      <%= form.hidden_field 'route_id' %>
      <%= form.hidden_field 'reversed' %>
      <%= render partial: 'fields', locals: {form: form} %>
      <div class="actions">
        <%= form.submit "Create Journey", :class => "button" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :js do %>
<script type="text/javascript">
  function initMap() {
    $('.route_preview').each(function(i, m) {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var map = new google.maps.Map(m, {
        scrollwheel:  false,
        disableDefaultUI: true,
        scaleControl: true,
        draggable: false
      });
      directionsDisplay.setMap(map);

      calculateRouteMultiStop(directionsService, directionsDisplay, $(this));
    });
  }
</script>
<% end %>
