<div class="card-cont" id="sup_edit_jrny">
  <h2>Add a New Journey</h2>
  <% if Route.exists? %>
    <h3 id="sup_jrny_title">Select a Route:</h3>
    <%= form_for [:admin, Journey.new] do |form| %>
    <% Route.all.each do |route| %>
      <div class="card sup_edit_jrny">
        <div class="inner">
          <%= form.radio_button :route_id, route.id, class: 'routeRadio hidden' %> <%= route.name %>
        </div>
      </div>
    <% end %>
    
    <div class="card sup_edit_jrny_info" style="display: none;">
      <div class="inner">
        <%= render partial: 'fields', locals: {form: form} %>
      </div>
      <%= form.submit "Create Journey", :class => "cardBtn" %>
    </div>
    <% end %>
  </div>
<% else %>
  <p>There are currently no routes, please check back again later for more routes to be added.</p>
<% end %>
<script type="text/javascript">
  $(function() {
    $('.sup_edit_jrny').click(function() {
      if (!$(this).hasClass('active')) {
        resetJrnyRoutes();
        $('.sup_edit_jrny').not(this).each(function(){ 
          $(this).addClass('inactive');
          $(this).slideUp();
        });
        $(this).find('input:radio').prop('checked',true);
        $(this).addClass('active');
        $('#jrnyRouteTitle').html('Selected Route:');
        $('.editJrnyInfo').slideDown();
      } else {
        resetJrnyRoutes();
        $('.editJrnyInfo').slideUp();
      }
    });
  });

  function resetJrnyRoutes() {
    $('.sup_edit_jrny').each(function(){ 
      $(this).find('input:radio').prop('checked',false);
      $(this).removeClass('inactive').removeClass('active');
      $(this).slideDown();
      $('#jrnyRouteTitle').html('Select a Route:');
    });
  }
</script>