<div id="sup_edit_jrny" class="container">
  <div class="inner">
    <% if Route.exists? %>
      <% if current_team.vehicles.count > 0 %>
        <h3 id="sup_jrny_title">Select a Route:</h3>
        <% Route.bookable_routes.each do |route| %>
          <div class="card sup_edit_jrny">
            <div class="inner">
              <div class="twoThird">
                <p class="highlight"><%= route.name %></p>
                <p>Via</p>
                <div class="half">
                  <ul>
                    <% route.stops.each_with_index do |stop| %>
                      <li><%= stop.name %></li>
                    <% end %>
                  </ul>
                  <%= link_to "create forwards journey", new_admin_journey_path(route_id: route.id, reversed: false) %>
                </div>
                <div class="half">
                  <ul>
                    <% route.stops.reverse.each_with_index do |stop| %>
                      <li><%= stop.name %></li>
                    <% end %>
                  </ul>
                  <%= link_to "create backwards journey", new_admin_journey_path(route_id: route.id, reversed: true) %>
                </div>
              </div>
              <div class="third mobFull">
                <select multiple id="select_<%= route.id %>" class="waypoints" style="display:none;">
                  <% route.stops.each do |stop| %>
                    <option value="<%= stop.latitude %>, <%= stop.longitude %>" selected><%= stop.name %></option>
                  <% end %>
                </select>
                <div id="map_<%= route.id %>" class="route_preview"></div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>You currently have no vehicles <%= link_to "add one now", admin_vehicles_path %> before you can add a journey.</p>
      <% end %>
    <% else %>
      <p>There are currently no routes, please check back again later for more routes to be added.</p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function initMap() {
    $('.route_preview').each(function(i, m) {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var map = new google.maps.Map(m, {
        scrollwheel:  false,
        disableDefaultUI: true,
        scaleControl: true,
        draggable: false
      });
      directionsDisplay.setMap(map);

      calculateRouteMultiStop(directionsService, directionsDisplay, $(this));
    });
  }
</script>
