%section.section
  .card
    %h2= @journey.route.name
    %p= @journey.start_time.to_s(:long)
    %h3 Stops:
    %p
      - @journey.stops.includes([:place, :route]).each do |stop|
        %p
          = stop.name
          \:
          \#{@journey.time_at_stop(stop).strftime("%H:%M")}
    - if @journey.editable_by_supplier?(current_supplier)
      %p= link_to 'Edit', edit_admin_journey_path(@journey), class: 'button border-bottom-radius'
    - if @journey.is_booked?
      %h3 Bookings:
      - @journey.all_bookings.each do |booking|
        .card
          %h4
            #{booking.pickup_stop.name} to #{booking.dropoff_stop.name}
          %p= pluralize booking.number_of_passengers, "Passenger"
          %p
            Tel: #{booking.phone_number}
        
          =link_to 'Show booking', admin_journey_booking_path(@journey, booking)
          - unless booking.state == 'successful'
            %span.success
              |
              =button_to 'Mark as successful', admin_journey_booking_path(@journey, booking), { class: 'text', form_class: 'inline', method: 'put', remote: true, params: { 'booking[state]' => 'successful' } }
          - unless booking.state == 'missed'
            %span.missed
              |
              =button_to 'Mark as missed', admin_journey_booking_path(@journey, booking), { class: 'text', form_class: 'inline', method: 'put', remote: true, params: { 'booking[state]' => 'missed' } }
          
          %hr/
      %hr/
      %p= link_to 'Download runsheet', admin_journey_path(@journey, format: :csv), class: 'button'
      %hr/
      %h4 Send SMS message to
      = form_tag send_message_admin_journey_path(@journey) do
        = select_tag :to,                                                                                          |
          options_for_select([["All Passengers", "all"]] + @journey.bookings.collect {|x| [x.phone_number, x.id]}), |
          { class: 'select' } |
        = text_area_tag :notification_message
        = submit_tag "Send message"
        
:javascript

  $('.success form').on('ajax:success', function(e, data, status, xhr){
    $('.success').addClass('hidden');
  })
  
  $('.missed form').on('ajax:success', function(e, data, status, xhr){
    $('.missed').addClass('hidden');
  })
