<p><%= @journey.start_time.strftime("%F") %></p>
<p><%= @journey.supplier.name %></p>
<p><%= @journey.vehicle.registration %></p>
<p><% @journey.stops.each do |stop| %></p>
  <p>
    <%= stop.name %>:
    <%= stop.time_for_journey(@journey).strftime("%H:%M") %>
  </p>
<% end %>
<% if @journey.editable_by_supplier?(current_supplier) %>
  <%= link_to edit_admin_journey_path(@journey) do %>
    <button>Edit</button>
  <% end %>
<% end %>

<ul>
  <% @journey.bookings.each do |booking| %>
    <%= booking.pickup_stop.name %> to <%= booking.dropoff_stop.name %>
  <% end %>
</ul>
