#filterrific_results
  - if @bookings.exists?
    = render partial: 'admin/bookings/booking', collection: @bookings
  - else
    %p
      No bookings found
          
  = paginate bookings
  
  .number= @bookings_count
  Bookings
  .number= @passengers_count
  Passengers
  
  .action
    = link_to 'Download CSV', request.parameters.merge({ format: :csv }), class: 'text'
