= form_for_filterrific @filter do |form|

  = form.label :route
  = form.select :route, options_from_collection_for_select(Route.all, 'id', 'name', @filter.route), { include_blank: 'All' }, class: 'select'
  = form.label :state
  = form.select :state, [['Booked', 'booked'], ['Cancelled','cancelled']], {}, class: 'select'
  = form.label :team
  = form.select :team, options_from_collection_for_select(Team.all, 'id', 'name', @filter.team), { include_blank: 'All' }, class: 'select'

  = form.label :date_from
  = form.date_field :date_from, value: @filter.date_from
  = form.label :date_to
  = form.date_field :date_to, value: @filter.date_to

  = link_to 'Reset filters', reset_filterrific_url, class: 'button secondary'
  = form.submit 'Update filter', name: nil

  = render partial: 'bookings', locals: { bookings: @bookings }
  
  .booking-count
    %h4
      .number= @bookings_count
      Bookings
  .booking-count
    %h4
      .number= @passengers_count
      Passengers

    = link_to 'Download CSV', params.merge({ format: :csv }), class: 'button'
