%section.section
  = form_for_filterrific @filter do |form|
    .card
      %h2 Bookings
      = form.label :route
      = form.select :route, options_from_collection_for_select(Route.main_routes, 'id', 'name', @filter.route), { include_blank: 'All' }, class: 'select'
      = form.label :state
      = form.select :state, [['Booked', 'booked'], ['Cancelled','cancelled'], ['Missed', 'missed'], ['Successful', 'successful']], {}, class: 'select'
      = form.label :team
      = form.select :team, options_from_collection_for_select(Team.all, 'id', 'name', @filter.team), { include_blank: 'All' }, class: 'select'

      = form.label :date_from
      = form.date_field :date_from, value: @filter.date_from
      = form.label :date_to
      = form.date_field :date_to, value: @filter.date_to

      .action
        = link_to 'Reset filters', reset_filterrific_url
      .action.primary
        = form.submit 'Update filter', class: "button", name: nil

    .card
      = render partial: 'bookings', locals: { bookings: @bookings }
      .number= @bookings_count
      Bookings
      .number= @passengers_count
      Passengers
      
      .action
        = link_to 'Download CSV', params.merge({ format: :csv }), class: 'text'
