<div class="container">
  <div class="inner">
    <div class="single-booking-card no-click card <% if @booking.future? %>future<% else %>expired<% end %> overview">
      <div class="overview-bar radius border-top-radius">
        <%= pluralize @booking.number_of_passengers, "Passenger" %> from <%= @booking.pickup_stop.name %> To <%= @booking.dropoff_stop.name %>
      </div>

      <div class="overview-sub-bar">
        Outbound: <%= friendly_date @booking.journey.start_time, true %>
      </div>
      <div class="center">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @booking.pickup_lat %>,<%= @booking.pickup_lng %>&zoom=16&size=1000x175&key=AIzaSyCg32P3H1gWK64VVmdhxG4yQZ-uBiu_0JA&markers=color:red%7Clabel:A%7C<%= @booking.pickup_lat %>,<%= @booking.pickup_lng %>">
        <p class="mb1 mt05"><strong>Pickup:</strong> <%= @booking.pickup_stop.time_for_journey(@booking.journey).strftime("%l:%M%P") %> at <%= @booking.pickup_name %></p>
      <div class="clear"></div>
      </div>
      <div class="center">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @booking.dropoff_lat %>,<%= @booking.dropoff_lng %>&zoom=16&size=1000x175&key=AIzaSyCg32P3H1gWK64VVmdhxG4yQZ-uBiu_0JA&markers=color:red%7Clabel:A%7C<%= @booking.dropoff_lat %>,<%= @booking.dropoff_lng %>">
        <p class="mb1 mt05"><strong>Drop off:</strong> <%= @booking.dropoff_stop.time_for_journey(@booking.journey).strftime("%l:%M%P") %> at <%= @booking.dropoff_name %></p>
      </div>
      <div class="breaker mt2"></div>
      <div class="inner price-breakdown">
        <%=  %>
        <% if num_of_adults(@booking.number_of_passengers) == @booking.number_of_passengers %>
          <p><%= pluralize @booking.number_of_passengers, 'adult fare' %> (<%= number_to_currency(@booking.adult_single_price, :unit => "£") %> single)</p>
        <% else %>
          <p><strong><%= pluralize @booking.number_of_passengers, 'passenger' %></strong></p>
          <% if num_of_adults(@booking.number_of_passengers) > 0 %>
            <p>Adults: <%= num_of_adults(@booking.number_of_passengers) %> (<%= number_to_currency(@booking.adult_single_price, :unit => "£") %> single)</p>
          <% end %>
          <% if @booking.child_tickets > 0 %>
            <p>Child Fare: <%= @booking.child_tickets %> (<%= number_to_currency(@booking.child_single_price, :unit => "£") %> single)</p>
          <% end %>
          <% if @booking.older_bus_passes > 0 %>
            <p>Older persons bus pass: <%= @booking.older_bus_passes %> (£0.00 each)</p>
          <% end %>
          <% if @booking.disabled_bus_passes > 0 %>
            <p>Disabled persons bus pass: <%= @booking.disabled_bus_passes %> (£0.00 each)</p>
          <% end %>
          <% if @booking.scholar_bus_passes > 0 %>
            <p>Scholarly Season Ticket: <%= @booking.scholar_bus_passes %> (£0.00 each)</p>
          <% end %>
        <% end %>
      </div>
      <div class="overview-bar price right-text radius border-bottom-radius">
        <span>Total<% if @booking.payment_method_id == 5 %> to Pay<% else %> Paid<% end %>: <%= number_to_currency @booking.price, unit: '£' %></span>
      </div>
    </div>
  </div>
</div>