%section.hero
  .overlay
  .event
  %section.section.heading
    %h2
      = t('privacy.title')

%main.main
  %section.section
    %p
      Essex County Council is committed to protecting your privacy when you use our services.
    %p
      The Privacy Notice below explains how we use information about you and how we protect your privacy.
    %p
      To the left of this webpage you’ll see a list of services we provide. Under each service is more information about who we may share your information with and why. 
    %p
      Ride is provided by the Passenger Transport Team at Essex County Council.  We have a Data Protection Officer who makes sure we respect your rights and follow the law. If you have any concerns or questions about how we look after your personal information, please contact the Data Protection Officer, Paul Turner, at 
      = mail_to "DPO@essex.gov.uk", "DPO@essex.gov.uk" 
      or by calling 03457 430 430 and asking to speak to the Data Protection Officer.

  %section.section
    %h3
      Why we use your personal information

  %section.section
    %h4
      Do you know what personal information is?
    %p
      Personal information can be anything that identifies and relates to a living person. This can include information that when put together with other information can then identify a person. For example, this could be your name and contact details.
    %h4
      Did you know that some of your personal information might be ‘special’?
    %p
      Some information is ‘special’ and needs more protection due to its sensitivity. It’s often information you would not want widely known and is very personal to you. This is likely to include anything that can reveal your:

    %ul
      %li
        sexuality and sexual health
      %li
        religious or philosophical beliefs
      %li
        ethnicity
      %li
        physical or mental health
      %li
        trade union membership
      %li
        political opinion
      %li
        genetic/biometric data
      %li
        criminal history

    %h4
      Why do we need your personal information?
    %p
      We may need to use some information about you to:

    %ul
      %li
        deliver services and support to you;
      %li
        manage those services we provide to you;
      %li
        train and manage the employment of our workers who deliver those services;
      %li
        help investigate any worries or complaints you have about your services;
      %li
        keep track of spending on services;
      %li
        check the quality of services; and
      %li
        to help with research and planning of new services.

    %h4
      How the law allows us to use your personal information

    %p
      There are a number of legal reasons why we need to collect and use your personal information.

    %p
      Each privacy notice from the menu on the left explains for each service which legal reason is being used. Generally we collect and use personal information in the where:


    %ul
      %li
        you, or your legal representative, have given consent
      %li
        you have entered into a contract with us
      %li
        it is necessary to perform our statutory duties
      %li
        it is necessary to protect someone in an emergency
      %li
        it is required by law
      %li
        it is necessary for employment purposes
      %li
        it is necessary to deliver health or social care services
      %li
        you have made your information publicly available
      %li
        it is necessary for legal cases
      %li
        it is to the benefit of society as a whole
      %li
        it is necessary to protect public health
      %li
        it is necessary for archiving, research, or statistical purposes

    %p
      If we have consent to use your personal information, you have the right to remove it at any time. If you want to remove your consent, please contact 
      = mail_to "DPO@essex.gov.uk", "DPO@essex.gov.uk" 
      and tell us which service you’re using so we can deal with your request.

    %h4
      We only use what we need

    %p
      Where we can, we’ll only collect and use personal information if we need it to deliver a service or meet a requirement. 

    %p
      If we don’t need personal information we’ll either keep you anonymous if we already have it for something else or we won’t ask you for it. For example in a survey we may not need your contact details we’ll only collect your survey responses.

    %p
      If we use your personal information for research and analysis, we’ll always keep you anonymous or use a different name unless you’ve agreed that your personal information can be used for that research.
  
    %p
      We don’t sell your personal information to anyone else.

    %h4
      What you can do with your information

    %p
      The law gives you a number of rights to control what personal information is used by us and how it is used by us.

    %h4
      You can ask for access to the information we hold on you

    %p
      We would normally expect to share what we record about you with you whenever we assess your needs or provide you with services. 
 
    %p
      Ride is provided by the Passenger Transport Team at Essex County Council and  you also have the right to ask for all the information we have
      = link_to "about you", "https://www.essex.gov.uk/Your-Council/Your-Right-Know/Pages/Your-Right-Know.aspx"
      and the services you receive from us. When we receive a request from you in writing, we must give you access to everything we’ve recorded about you. 

    %p
      However, we can’t let you see any parts of your record which contain:

    %ul
      %li
        Confidential information about other people; or
      %li
        Data a  professional thinks will cause serious harm to your or someone else’s physical or mental wellbeing; or
      %li
        If we think that giving you the information may stop us from preventing or detecting a crime

    %p
      This applies to personal information that is in both paper and electronic records. If you ask us, we’ll also let others see your record (except if one of the points above applies). 

    %p
      If you can’t ask for your records in writing, we’ll make sure there are other ways that you can. If you have any queries about access to your information please contact 
      = mail_to "transparencyteam@essex.gov.uk"
      or 0333 013 953.

    %h4
      You can ask to change information you think is inaccurate

    %p
      You should let us know if you disagree with something written on your file.

    %p
      We may not always be able to change or remove that information but we’ll correct factual inaccuracies and may include your comments in the record to show that you disagree with it. 

    = link_to "Please complete the online form to inform us of any inaccuracies.", "https://forms.essex.gov.uk/default.aspx/RenderForm/?F.Name=r4Qcams7sBg&HideAll=1"

    %h4
      You can ask to delete information (right to be forgotten)

    %p
      In some circumstances you can ask for your personal information to be deleted, for example:

    %ul
      %li
        Where your personal information is no longer needed for the reason why it was collected in the first place
      %li
        Where you have removed your consent for us to use your information  (where there is no other legal reason us to use it)
      %li
        Where there is no legal reason for the use of your information
      %li
        Where deleting the information is a legal required

    %p
      Where your personal information has been shared with others, we’ll do what we can to make sure those using your personal information comply with your request for erasure.

    %p
      Please note that we can’t delete your information where:

    %ul
      %li
        we’re required to have it by law
      %li
        it is used for freedom of expression 
      %li
        it is in the for public health purposes
      %li
        it is for, scientific or historical research, or statistical purposes where it would make information unusable
      %li
        it is necessary for legal claims

    %h4
      You can ask to limit what we use your personal data for

    %p
      You have the right to ask us to restrict what we use your personal information for where:

    %ul
      %li
        you have identified inaccurate information, and have told us of it
      %li  
        where we have no legal reason to use that information but you want us to restrict what we use it for rather than erase the information altogether

    %p
      When information is restricted it can’t be used other than to securely store the data and with your consent to handle legal claims and protect others, or where it’s for important public interests of the UK.

    %p
      Where restriction of use has been granted, we’ll inform you before we carry on using your personal information.

    %p
      You have the right to ask us to stop using your personal information for any council service. However, if this request is approved this may cause delays or prevent us delivering that service. 

    %p
      Where possible we’ll seek to comply with your request, but we may need to hold or use information because we are required to by law.

    %h4
      You can ask to have your information moved to another provider (data portability)

    %p
      You have the right to ask for your personal information to be given back to you or another service provider of your choice in a commonly used format. This is called data portability.

    %p
      However this only applies if we’re using your personal information with consent (not if we’re required to by law) and if decisions were made by a computer and not a human being. 

    %p
      It’s likely that data portability won’t apply to most of the services you receive from the Council. 

    %p
      You can ask to have any computer made decisions explained to you, and details of how we may have ‘risk profiled’ you.

    %p
      You have the right to question decisions made about you by a computer, unless it’s required for any contract you have entered into, required by law, or you’ve consented to it.

    %p
      You also have the right to object if you are being ‘profiled’. Profiling is where decisions are made about you based on certain things in your personal information, e.g. your health conditions. 

    %p
      If and when ECC uses your personal information to profile you, in order to deliver the most appropriate service to you, you will be informed. 

    %p
      If you have concerns regarding automated decision making, or profiling, please contact the Data Protection Officer who’ll be able to advise you about how we using your information.

    %h4
      Who do we share your information with?

    %p
      We use a range of organisations to either store personal information or help deliver our services to you. Where we have these arrangements there is always an agreement in in place to make sure that the organisation complies with data protection law. 

    %p
      We’ll often complete a privacy impact assessment (PIA) before we share personal information to make sure we protect your privacy and comply with the law.

    %p
      Sometimes we have a legal duty to provide personal information to other organisations. This is often because we need to give that data to courts, including:

    %ul
      %li
        if we take a child into care;
      %li
        if the court orders that we provide the information; and
      %li
        if someone is taken into care under mental health law

    %p
      We may also share your personal information when we feel there’s a good reason that’s more important than protecting your privacy. This doesn’t happen often, but we may share your information:

    %ul
      %li
        in order to find and stop crime and fraud; or 
      %li
        if there are serious risks to the public, our staff or to other professionals;
      %li
        to protect a child; or
      %li
        to protect adults who are thought to be at risk, for example if they are frail, confused or cannot understand what is happening to them

    %p
      For all of these reasons the risk must be serious before we can override your right to privacy. 

    %p
      If we’re worried about your physical safety or feel we need to take action to protect you from being harmed in other ways, we’ll discuss this with you and, if possible, get your permission to tell others about your situation before doing so. 
 
    %p
      We may still share your information if we believe the risk to others is serious enough to do so.  
 
    %p
      There may also be rare occasions when the risk to others is so great that we need to share information straight away. 

    %p
      If this is the case, we’ll make sure that we record what information we share and our reasons for doing so. We’ll let you know what we’ve done and why if we think it is safe to do so.

    %h4
      How do we protect your information?

    %p
      We’ll do what we can to make sure we hold records about you (on paper and electronically) in a secure way, and we’ll only make them available to those who have a right to see them. Examples of our security include:

    %ul
      %li
        Encryption, meaning that information is hidden so that it cannot be read without special knowledge (such as a password). This is done with a secret code or what’s called a ‘cypher’. The hidden information is said to then be ‘encrypted’
      %li
        Pseudonymisation, meaning that we’ll use a different name so we can hide parts of your personal information from view. This means that someone outside of the Council could work on your information for us without ever knowing it was yours
      %li
        Controlling access to systems and networks allows us to stop people who are not allowed to view your personal information from getting access to it
      %li
        Training for our staff allows us to make them aware of how to handle information and how and when to report when something goes wrong
      %li
        Regular testing of our technology and ways of working including keeping up to date on the latest security updates (commonly called patches)

    %p
      You can find more details of our Information Security expectations on our online policy.

    %h4
      Where in the world is your information?

    %p
      The majority of personal information is stored on systems in the UK. But there are some occasions where your information may leave the UK either in order to get to another organisation or if it’s stored in a system outside of the EU. 

    %p
      We have additional protections on your information if it leaves the UK ranging from secure ways of transferring data to ensuring we have a robust contract in place with that third party. 

    %p
      We’ll take all practical steps to make your personal information is not sent to a country that is not seen as ‘safe’ either by the UK or EU Governments.

    %p
      If we need to send your information to an ‘unsafe’ location we’ll always seek advice from the Information Commissioner first.

    %h4
      How long do we keep your personal information?

    %p
      There’s often a legal reason for keeping your personal information for a set period of time, we try to include all of these in our 
      = link_to "retention schedule." "https://www.essex.gov.uk/Your-Council/Your-Right-Know/Documents/Retention_Schedule.pdf" 

    %p
      For each service the schedule lists how long your information may be kept for. This ranges from months for some records to decades for more sensitive records.

    %h4
      Where can I get advice?

    %p
      Ride is being delivered by the Passenger Transport Team at Essex County Council.  If you have any worries or questions about how your personal information is handled please contact the Data Protection Officer at
      = mail_to "DPO@essex.gov.uk", "DPO@essex.gov.uk" 
      or by calling 03457 430430.

    %p
      For independent advice about data protection, privacy and data sharing issues, you can contact the Information Commissioner’s Office (ICO) at:

    %ul
      %li
        Information Commissioner's Office
      %li
        Wycliffe House 
      %li
        Water Lane 
      %li
        Wilmslow
      %li
        Cheshire SK9 5AF

    %p
      Tel: 0303 123 1113 (local rate) or 01625 545 745 if you prefer to use a national rate number.

    %p
      Alternatively, visit 
      = link_to "www.ico.org.uk", "http://www.ico.org.uk"
      or email 
      = mail_to "casework@ico.org.uk"

    %h4
      Cookies (not the edible ones) and how you use this website
 
    %p
      To make this website easier to use, we sometimes place small text files on your device (for example your iPad or laptop) called cookies. Most big websites do this too.

    %p
      They improve things by:

    %ul
      %li
        remembering the things you’ve chosen while on our website, so you don’t have to keep 
      %li
        re-entering them whenever you visit a new page
      %li
        remembering data you’ve given (for example, your address) so you don’t need to keep entering it
      %li
        measuring how you use the website so we can make sure it meets your needs

    %p
      By using our website, you agree that we can place these types of cookies on your device. 

    %p
      We don’t use cookies on this website that collect information about what other websites you visit (often referred to as privacy intrusive cookies).
 
    %p
      Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you. You can manage and/or delete these files as you wish.

    %p
      To learn more about cookies and how to manage them, visit AboutCookies.org or watch a video about cookies.

    %h4
      How you use this website (something called Google Analytics)

    %p
      We use Google Analytics to collect information about how people use this site. We do this to make sure it’s meeting peoples’ needs and to understand how we can make the website work better.  
 
    %p
      Google Analytics stores information about what pages on this site you visit, how long you are on the site, how you got here and what you click on while you are here.

    %table
      %tr
        %th
          Name
        %th
          Typical Content
        %th
          Expires
      %tr
        %td
          _utma
        %td
          randomly generated number
        %td
          2 years
      %tr
        %td
          _utmb
        %td
          randomly generated number
        %td
          30 minutes
      %tr
        %td
          _utmc
        %td
          randomly generated number
        %td
          when you close your browser
      %tr
        %td
          _utmx
        %td
          randomly generated number
        %td
          2 years
      %tr
        %td
          _utmxx
        %td
          randomly generated number
        %td
          2 years
      %tr
        %td
          _utmz
        %td
          randomly generated number and data on how the site was reached (e.g. direct or via a link, organic search or paid search) 
        %td

    %p
      We do not collect or store any other personal information (e.g. your name or address) so this data cannot be used to identify who you are.

    %p
      We also collect data on the number of times a word is searched for and the number of failed searches. We use this information to improve access to the site and identify gaps in the content and see if it is something we should add to the site.

    %p
      We share the information you provide with the relevant transport operators in order to provide your journeys you book with us.  In any other circumstances, unless the law allows us to, we do not:

    %ul
      %li
        share any of the data we collect about you with others, or
      %li
        use this data to identify individuals


    %h4
      Other people’s cookies

    %p
      We might use videos from YouTube and feeds from other websites such as Facebook and Twitter. These websites place cookies on your device when watching or viewing these pages.
 
    %p
      Below are links to their cookie policies:


    %ul
      %li
        = link_to "Google and YouTube", "https://www.google.com/policies/technologies/cookies/" 
      %li
        = link_to "Facebook", "https://en-gb.facebook.com/about/privacy/cookies"
      %li
        = link_to "Twitter", "https://twitter.com/en/privacy"

    %h4
      Turning off cookies

    %p
      You can stop cookies being downloaded on to your computer or other device by selecting the appropriate settings on your browser. If you do this you may not be able to use the full functionality of this website.
 
    %p
      There is more information about how to delete or stop using cookies on
      = link_to "aboutCookies.org.", "https://www.aboutcookies.org/"
      You can also opt out of being tracked by Google Analytics.
 
    %p
      Further guidance on the use of personal information can be found at 
      = link_to "www.ico.org.uk", "http://www.ico.org.uk"

= render 'partials/psuedo_footer'