<%= form.label :place_id  %>
<%= form.select :place_id, options_for_select(@places.map { |p|
  [p.name, p.id, { 'data-lat' => p.latitude, 'data-lng' => p.longitude }]
}, selected: @stop.place_id) %>
<%= link_to 'Add a place', new_admin_place_path(previous_route_id: @route.id), id: 'new_place', class: 'button', id: 'add-place' %>

<h2>Landmarks</h2>
<div id="landmarks">
  <% if @stop.landmarks.count > 0 %>
    <% @stop.landmarks.each do |landmark| %>
      <%= form.fields_for :landmarks, landmark do |builder| %>
        <%= render partial: 'admin/stops/landmark', locals: {
          f: builder,
          latitude: landmark.latitude,
          longitude: landmark.longitude
        } %>
      <% end %>
    <% end %>
  <% else %>
    <p id="no_landmarks">There are no landmarks</p>
  <% end %>
  <%= link_to_add_association "Add Landmark", form, :landmarks,
      partial: 'admin/stops/landmark',
      class: 'button',
      render_options: {
        locals: { latitude: nil, longitude: nil }
      }
  %>
</div>

<% content_for :js do %>
<script type="text/javascript">

  jQuery.fn.extend({
    drawMap: function() {
      var $container = $(this);
      var $map = $container.find('.map')
      $map.uniqueId();
          
      var id = $map.attr('id');
      var coords = [$container.data('lat'), $container.data('lng')]
      var marker = L.marker(coords, {draggable:'true'});
      
      var map = L.map(id, {
        zoomControl: true
      }).setView(coords, 18);
      
    
      
      L.tileLayer('https://api.mapbox.com/styles/v1/wearefuturegov/cj8pp146j9uyv2rojanc93qtf/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1Ijoid2VhcmVmdXR1cmVnb3YiLCJhIjoiY2o3dDc4bGpoNGd2ajJ3bWp4ZWg3dWd0YiJ9.SbUuzZNHrNFQmgjtYUTU-A'
      }).addTo(map);
      
      marker.on('dragend', function() {
        var position = marker.getLatLng();
        $container.find('.latitude').val(position.lat);
        $container.find('.longitude').val(position.lng);
      });
      
      marker.addTo(map);
    }
  });
  
  $('.landmark').each(function( index ) {
    $(this).drawMap();
  });
  
  $("#landmarks a.add_fields")
      .data("association-insertion-method", 'before')
      .data("association-insertion-node", 'this');
      
  $('#landmarks').on('cocoon:after-insert', function(e, insertedItem) {
    $('#no_landmarks').hide();
    insertedItem.data('lat', $('#stop_place_id').find(":selected").data('lat'));
    insertedItem.data('lng', $('#stop_place_id').find(":selected").data('lng'));
    insertedItem.drawMap();
  });
  
</script>
<% end %>
  
