%section.section
  .card
    %h2 Edit stop
    = form_for [:admin, @route, @stop] do |form|
      = render partial: 'fields', locals: {form: form}
      .action.primary
        = form.submit "Save stop", :class => "button"
    = form_for [:admin, @route, @stop], method: :delete do |form|
      = form.submit "Delete stop", :class => "text"
