<h2>Edit stop</h2>
<%= form_for [:admin, @route, @stop] do |form| %>
  <%= render partial: 'fields', locals: {form: form} %>

  <%= form.submit "Save stop", :class => "button name_validation" %>
<% end %>

<%= form_for [:admin, @route, @stop], method: :delete do |form| %>
  <%= form.submit "Delete stop", :class => "button negative delete" %>
<% end %>