<h2>Edit Stop:</h2>
<div class="wide-btn">
  <%= form_for [:admin, @route, @stop] do |form| %>
    <div class="inner">
      <%= render partial: 'fields', locals: {form: form} %>
    </div>

    <div class="half">
      <%= form.submit "Save stop", :class => "button name_validation border-left-radius" %>
    </div>
  <% end %>

  <div class="half">
    <%= form_for [:admin, @route, @stop], method: :delete do |form| %>
      <%= form.submit "Delete stop", :class => "button negative delete border-right-radius" %>
    <% end %>
  </div>
</div>