%section.hero.regular
  .overlay
  .event
  %section.section.heading
    %h2
      = t('route.title')

    %section.action
      = link_to I18n.t('button.routes'), I18n.t('button.typeform-link'), class: 'button'

%main.main
  %section.section
    %h3
      = t('pilot.title')
    %p
      = t('pilot.info')

  %section.section
    .action
      = mail_to I18n.t('email.landing.address'), I18n.t('button.contact'), subject: I18n.t('email.landing.subject'), class: 'button secondary'

= render 'partials/psuedo_footer'