%span.sup_route_name
  %i.fa.fa-bus
  = route.name
%select.waypoints{:id => "select_#{route.id}", :multiple => "multiple", :style => "display:none;"}
  - route.stops.each do |stop|
    %option{:selected => "selected", :value => "#{stop.place.latitude}, #{stop.place.longitude}"}= stop.name
.route_preview{"data-geometry" => "#{route.flipped_geometery}"}
%span.sup_route_journeys
  %span.numOfJourn= route.journeys.count
  Current Journeys
.action.secondary
  = link_to admin_route_path(route) do
    Edit route