<section id="sup_routes">
  <% Route.all.each do |route| %>
    <div class="card">
      <div class="inner">
        <span class="sup_route_name"><i class="fa fa-bus"></i> <%= route.name %></span>
        <% route.stops.each do |stop| %>
          <%= stop.name %>
        <% end %>
        <hr>
        <span class="sup_route_journeys">
          <span class="numOfJourn"><%= route.journeys.count %></span> Current Journeys -
          <%= link_to admin_route_journeys_path(route) do %>
            <span class="addTxt">Add</span> Journeys to this Route
          <% end %>
        </span>
      </div>
      <%= link_to admin_route_path(route) do %>
        <div class="cardBtn">
          <span>Edit Route</span>
        </div>
      <% end %>
    </div>
  <% end %>
<%= form_for [:admin, Route.new] do |form| %>
  <%= form.submit "Create new Route" %>
<% end %>
</section>

<script type="text/javascript">
  $(function() {
    $('.sup_route_journeys').each(function() {
      if (parseInt($(this).find('.numOfJourn').html()) == 0) {
        $(this).find('.addTxt').html('Add');
      } else {
        $(this).find('.addTxt').html('Edit/Add');
      }
    });
  });
</script>
