<div id="sup_edit_route">
  <h1><%= @route.name %></h1>

  <h2>Stops</h2>

  <div id="sortable_stops" class="stop-list">
    <% @route.stops.each do |stop| %>
      <div id="stop_<%= stop.id %>" class="stop">
        <div class="edit_route_mins">
          <p class="stop_name"><%= stop.name %></p>
          <div class="buttons">
            <%= link_to edit_admin_route_stop_path(@route, stop) do %><div class="button text">Edit Stop</div><% end %>
            <%= form_for [:admin, @route, stop], method: :delete do |form| %>
              <%= form.submit "Delete stop", :class => "delete text" %>
            <% end %>
          </div>
        </div>
        <div class="time_gap_form">
          <%= form_for [:admin, @route, stop] do |form| %>
            <%= form.number_field :minutes_from_last_stop, class: 'minutes-field' %>
            minutes.
            <div class="action">
              <%= form.submit "Save", :class => "min_save" %>
            </div>
          <% end %>
        </div>
        <div class="map_preview"></div>
      </div>
    <% end %>
  </div>
  <div class="action">
    <%= link_to new_admin_route_stop_path(@route) do %>
      <div class="button">
        <span>Add a New Stop</span>
      </div>
    <% end %>
  </div>
  <div class="action">
    <%= form_for [:admin, @route], method: :delete do |form| %>
      <%= form.submit "Delete route", :class => "button text" %>
    <% end %>
  </div>
</div>

<% content_for :js do %>
  <script type="text/javascript">
    function hideFirstTimeGap() {
      $('.time_gap_form').css('visibility', 'visible');
      $('.stop-list .time_gap_form').first().css('visibility', 'hidden');
    }
    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
    $('#sortable_stops').sortable({items:'.card', containment:'#sortable_stops', axis:'y', update: function() {
      $.post('<%= sort_admin_route_path(@route) %>', '_method=put&authenticity_token='+AUTH_TOKEN+'&'+$(this).sortable('serialize'));
      hideFirstTimeGap();
    }});

    $(function () {
      hideFirstTimeGap();
    })

    function initMap() {
      $('.map_preview').each(function(i, m) {
        var map = new google.maps.Map(m, {});
        map.data.addGeoJson($(m).data('geojson'));
        var polygon;
        map.setOptions({draggable: false, scrollwheel:  false});
        map.data.forEach(function(feature) {polygon = feature.getGeometry()});
        var bounds = new google.maps.LatLngBounds();
        polygon.forEachLatLng(function(ll) {bounds.extend(ll)});
        tightFitBounds(map, bounds);
      });
    }
  </script>
<% end %>
