%section.section
  .card
    %h2
      Stops
  #sup_edit_route
    - if @route.route.nil?
      .card
        = form_for [:admin, @route] do |f|
          = f.label :name
          = f.text_field :name
          = f.label :pricing_rule_id
          = f.select :pricing_rule_id, options_from_collection_for_select(@pricing_rules, :id, :name, @route.pricing_rule_id), {}, class: 'select'
          .action.primary
            = f.submit 'Update', class: 'button'

    .card
      %h3 Stops:
      #sortable_stops.stops
        - @route.stops.each do |stop|
          .stop{:id => "stop_#{stop.id}"}
            .edit_route_mins
              %p= stop.name
              = link_to edit_admin_route_stop_path(@route, stop) do
                Edit stop
              = button_to 'Delete stop', admin_route_stop_path(@route, stop), method: :delete, class: 'text'
              = form_for [:admin, @route, stop], method: :delete do |form|
                %section.section
                  = form.label 'Minutes'
                = form_for [:admin, @route, stop] do |form|
                  = form.number_field :minutes_from_last_stop, class: 'minutes-field'
                  \#{form.submit "Save", :class => "text"}
              .map_preview
        = form_for [:admin, @route], method: :delete do |form|
          = form.submit "Delete route", :class => "button text"
        - if @route.route.nil?
          = button_to 'Make subroute', admin_route_sub_routes_path(@route), method: :post, class: 'text'
          = link_to 'View subroutes', admin_route_sub_routes_path(@route), class: 'text'
      .action.primary
        = link_to new_admin_route_stop_path(@route) do
          .button
            Add a new stop
- content_for :js do
  :javascript

    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
    $('#sortable_stops').sortable({items:'.stop', containment:'#sortable_stops', axis:'y', update: function() {
      $.post('#{sort_admin_route_path(@route)}', '_method=put&authenticity_token='+AUTH_TOKEN+'&'+$(this).sortable('serialize'));
    }});
