<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Remember me on this computer', :class => 'inline' %>
    </div>
  <% end -%>

  <div class="login_actions">
    <%= f.submit "Log in" %>

    <%= render "suppliers/shared/links" %>
  </div>
<% end %>