%section.section
  %h2 Log in to Pickup Admin
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      = f.email_field :email, autofocus: true
    .field
      = f.label :password
      = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me, :class => 'inline mb05'
    .single.action
      = f.submit "Log in", class: 'button cta primary'
    %p.mt05.mb0 Don't have an account?
    = render "suppliers/shared/links"
