<%= render partial: "layouts/suppliers_header" %>
<section id="sup_routes">
  <% Route.all.each do |route| %>
    <div class="card">
      <div class="inner">
        <span class="sup_route_name"><i class="fa fa-bus"></i> <%= route.name %></span>
        
        <select multiple id="select_<%= route.id %>" class="waypoints">
          <% route.stops.each do |stop| %>
            <option value="<%= stop.latitude %>, <%= stop.longitude %>" selected><%= stop.name %></option>
          <% end %>
        </select>

        <div id="map_<%= route.id %>" class="route_preview"></div>
         
        <hr>
        <span class="sup_route_journeys">
          <span class="numOfJourn"><%= route.journeys.count %></span> Current Journeys - 
          <%= link_to suppliers_route_journeys_path(route) do %>
            <span class="addTxt">Add</span> Journeys to this Route
          <% end %>
        </span>
      </div>
      <%= link_to suppliers_route_path(route) do %>
        <div class="cardBtn">
          <span>Edit Route</span>
        </div>
      <% end %>
    </div>
  <% end %>
<%= form_for [:suppliers, Route.new] do |form| %>
  <%= form.submit "Create new Route" %>
<% end %>
</section>


<script type="text/javascript">
  $(function() {
    $('.sup_route_journeys').each(function() {
      if (parseInt($(this).find('.numOfJourn').html()) == 0) {
        $(this).find('.addTxt').html('Add');
      } else {
        $(this).find('.addTxt').html('Edit/Add');
      }
    });
  });

  

  function initMap() {
    $('.route_preview').each(function(i, m) {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var map = new google.maps.Map(m, {
        zoom: 4,
        center: {lat: 51.701927139259, lng: 0.828781127929688} //change this to the center of the route
      });
      directionsDisplay.setMap(map);

      calculateAndDisplayRoute(directionsService, directionsDisplay, $(this));
    });
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay, map) {
    var waypts = [];
    var idNum = map.attr('id').slice(4);
    var checkboxArray = document.getElementById('select_'+idNum);
    var start = checkboxArray[0].value;
    console.log(checkboxArray.length)
    for (var i = 0; i < checkboxArray.length; i++) {
      if (checkboxArray.options[i].selected) {
        waypts.push({
          location: checkboxArray[i].value,
          stopover: true
        });
      }
    }
    console.log(waypts);
    directionsService.route({
      origin: start,
      destination: '51.5787747151075, 0.824661254882812',
      waypoints: waypts,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING
    }, function(response, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        console.log('DONE');
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>


<%= render partial: "layouts/suppliers_footer" %>