<table>
  <% Route.all.each do |route| %>
    <tr>
      <td><%= route.name %></td>
      <td><%= link_to "edit route", suppliers_route_path(route) %></td>
      <td><%= link_to "view and add journeys", suppliers_route_journeys_path(route) %></td>
    </tr>
  <% end %>
</table>

<%= form_for [:suppliers, Route.new] do |form| %>
  <%= form.submit "Create new Route" %>
<% end %>
