.nested-fields
  %h2
    Time
  = f.time_select :time, { with_css_classes: true }, { class: 'select' }
  
  = f.label :seats, 'Available seats'
  = f.number_field :seats, class: 'input'
    
  %h3
    Stops
    
  .stops
    - if f.object.route.present?
      = render partial: 'admin/routes/stop', collection: @timetable.route.stops, locals: { selected: f.object.route.stops.collect(&:name), time_id: f.index }
  
  %p
    = link_to_remove_association 'Remove time', f
