%section.hero
  .overlay
  .event
  %section.section.heading
    %h2
      = t('legal.title')

%main.main
  %section.section
    %h3
      = t('legal.section.title')
    %p
      = t('legal.section.info')
    %p
      = t('legal.section.info_2')
    %p
      = t('legal.section.info_3')
    %p
      = t('legal.section.info_4')
    %p
      = t('legal.section.info_5')

  %section.section
    %h3
      = t('legal.section_2.title')
    %p
      = t('legal.section_2.info')
    %p
      = t('legal.section_2.info_2')
    %p
      = t('legal.section_2.info_3')

  %section.section
    %ol
      %li.title
        %h3
          = t('legal.section_3.title')
        %ol
          %li
            %p
              = t('legal.section_3.info')
          %li
            %p
              = t('legal.section_3.info_2')
          %li
            %p
              = t('legal.section_3.info_3')
          %li
            %p
              = t('legal.section_3.info_4')
          %li
            %p
              = t('legal.section_3.info_5')

      %li.title
        %h3
          = t('legal.section_4.title')
        %ol
          %li
            %p
              = t('legal.section_4.info')
          %li
            %p
              = t('legal.section_4.info_2')
          %li
            %p
              = t('legal.section_4.info_3')
          %li
            %p
              = t('legal.section_4.info_4')
          %li
            %p
              = t('legal.section_4.info_5')

      %li.title
        %h3
          = t('legal.section_5.title')
        %ol
          %li
            %p
              = t('legal.section_5.info')
          %li
            %p
              = t('legal.section_5.info_2')
          %li
            %p
              = t('legal.section_5.info_3')
            %ol
              %li
                %p
                  = t('legal.section_5.info_3_a')
              %li
                %p
                  = t('legal.section_5.info_3_b')
              %li
                %p
                  = t('legal.section_5.info_3_c')
          %li
            %p
              = t('legal.section_5.info_4')
          %li
            %p
              = t('legal.section_5.info_5')
          %li
            %p
              = t('legal.section_5.info_6')
          %li
            %p
              = t('legal.section_5.info_7')
          %li
            %p
              = t('legal.section_5.info_8')
      %li.title
        %h3
          = t('legal.section_6.title')
        %h4
          = t('legal.section_6.title_2')
        %ol
          %li
            %p
              = t('legal.section_6.info')
          %li
            %p
              = t('legal.section_6.info_2')
          %li
            %p
              = t('legal.section_6.info_3')
          %li
            %p
              = t('legal.section_6.info_4')
          %li
            %p
              = t('legal.section_6.info_5')
          %li
            %p
              = t('legal.section_6.info_6')
          %li
            %p
              = t('legal.section_6.info_7')
          %li
            %p
              = t('legal.section_6.info_8')
          %li
            %p
              = t('legal.section_6.info_9')
          %li
            %p
              = t('legal.section_6.info_10')
          %li
            %p
              = t('legal.section_6.info_11')
          %li
            %p
              = t('legal.section_6.info_12')
          %li
            %p
              = t('legal.section_6.info_13')
          %li
            %p
              = t('legal.section_6.info_14')
            %ol
              %li
                %p
                  = t('legal.section_6.info_14_a')
              %li
                %p
                  = t('legal.section_6.info_14_b')
              %li
                %p
                  = t('legal.section_6.info_14_c')
              %li
                %p
                  = t('legal.section_6.info_14_d')
          %li
            %p
              = t('legal.section_6.info_15')
          %li
            %p
              = t('legal.section_6.info_16')
          %h4
            = t('legal.section_6.title_3')
          %li
            %p
              = t('legal.section_6.info_17')
          %li
            %p
              = t('legal.section_6.info_18')
          %li
            %p
              = t('legal.section_6.info_19')
          %li
            %p
              = t('legal.section_6.info_20')             
          %li
            %p
              = t('legal.section_6.info_21')
          %li
            %p
              = t('legal.section_6.info_22')
          %li
            %p
              = t('legal.section_6.info_23')
          %h4
            = t('legal.section_6.title_4')
          %li
            %p
              = t('legal.section_6.info_24')
          %li
            %p
              = t('legal.section_6.info_25')
          %h4
            = t('legal.section_6.title_5')
          %li
            %p
              = t('legal.section_6.info_26')
          %li
            %p
              = t('legal.section_6.info_27')
          %li
            %p
              = t('legal.section_6.info_28')
          %h4
            = t('legal.section_6.title_6')
          %li
            %p
              = t('legal.section_6.info_29')
          %li
            %p
              = t('legal.section_6.info_30')
          %h4
            = t('legal.section_6.title_7')
          %li
            %p
              = t('legal.section_6.info_31')
      %li.title
        %h3
          = t('legal.section_7.title')
        %h4
          = t('legal.section_7.title_2')
        %ol
          %li
            %p
              = t('legal.section_7.info')
          %li
            %p
              = t('legal.section_7.info_2')
          %li
            %p
              = t('legal.section_7.info_3')
          %li
            %p
              = t('legal.section_7.info_4')
          %li
            %p
              = t('legal.section_7.info_5')
          %li
            %p
              = t('legal.section_7.info_6')
          %h4
            = t('legal.section_7.title_3')
          %li
            %p
              = t('legal.section_7.info_7')
          %li
            %p
              = t('legal.section_7.info_8')
          %h4
            = t('legal.section_7.title_4')
          %li
            %p
              = t('legal.section_7.info_9')
          %li
            %p
              = t('legal.section_7.info_10')
          %h4
            = t('legal.section_7.title_5')
          %li
            %p
              = t('legal.section_7.info_11')
          %li
            %p
              = t('legal.section_7.info_12')
      %li.title
        %h3
          = t('legal.section_8.title')
        %ol
          %li
            %p
              = t('legal.section_8.info')
            %ol
              %li
                %p
                  = t('legal.section_8.info_a')
              %li
                %p
                  = t('legal.section_8.info_b')
              %li
                %p
                  = t('legal.section_8.info_c')
              %li
                %p
                  = t('legal.section_8.info_d')
              %li
                %p
                  = t('legal.section_8.info_e')
              %li
                %p
                  = t('legal.section_8.info_f')
              %li
                %p
                  = t('legal.section_8.info_g')
              %li
                %p
                  = t('legal.section_8.info_h')
              %li
                %p
                  = t('legal.section_8.info_i')
              %li
                %p
                  = t('legal.section_8.info_j')
              %li
                %p
                  = t('legal.section_8.info_k')
              %li
                %p
                  = t('legal.section_8.info_l')
              %li
                %p
                  = t('legal.section_8.info_m')
              %li
                %p
                  = t('legal.section_8.info_n')
              %li
                %p
                  = t('legal.section_8.info_o')
              %li
                %p
                  = t('legal.section_8.info_p')
              %li
                %p
                  = t('legal.section_8.info_q')
              %li
                %p
                  = t('legal.section_8.info_r')
              %li
                %p
                  = t('legal.section_8.info_s')
              %li
                %p
                  = t('legal.section_8.info_t')
              %li
                %p
                  = t('legal.section_8.info_u')
              %li
                %p
                  = t('legal.section_8.info_v')
          %li
            %p
              = t('legal.section_8.info_2')
            %ol
              %li
                %p
                  = t('legal.section_8.info_2_a')
              %li
                %p
                  = t('legal.section_8.info_2_b')
              %li
                %p
                  = t('legal.section_8.info_2_c')
              %li
                %p
                  = t('legal.section_8.info_2_d')
          %li
            %p
              = t('legal.section_8.info_3')
          %li
            %p
              = t('legal.section_8.info_4')
      %li.title
        %h3
          = t('legal.section_9.title')
        %ol
          %li
            %p
              = t('legal.section_9.info')
            %ol
              %li
                %p
                  = t('legal.section_9.info_a')
              %li
                %p
                  = t('legal.section_9.info_b')
              %li
                %p
                  = t('legal.section_9.info_c')
          %li
            %p
              = t('legal.section_9.info_2')
          %li
            %p
              = t('legal.section_9.info_3')
          %li
            %p
              = t('legal.section_9.info_4')
          %li
            %p
              = t('legal.section_9.info_5')
          %li
            %p
              = t('legal.section_9.info_6')
          %li
            %p
              = t('legal.section_9.info_7')
          %li
            %p
              = t('legal.section_9.info_8')
            %ol
              %li
                %p
                  = t('legal.section_9.info_8_a')
              %li
                %p
                  = t('legal.section_9.info_8_b')
          %li
            %p
              = t('legal.section_9.info_9')
      %li.title
        %h3
          = t('legal.section_10.title')
        %ol
          %li
            %p
              = t('legal.section_10.info')
          %li
            %p
              = t('legal.section_10.info_2')
          %li
            %p
              = t('legal.section_10.info_3')
          %li
            %p
              = t('legal.section_10.info_4')
      %li.title
        %h3
          = t('legal.section_11.title')
        %ol
          %li
            %p
              = t('legal.section_11.info')
          %li
            %p
              = t('legal.section_11.info_2')
      %li.title
        %h3
          = t('legal.section_12.title')
        %ol
          %li
            %p
              = t('legal.section_12.info')
      %li.title
        %h3
          = t('legal.section_13.title')
        %ol
          %li
            %p
              = t('legal.section_13.info')
          %li
            %p
              = t('legal.section_13.info_2')
          %li
            %p
              = t('legal.section_13.info_3')
          %li
            %p
              = t('legal.section_13.info_4')
          %li
            %p
              = t('legal.section_13.info_5')
          %li
            %p
              = t('legal.section_13.info_6')  
      %li.title
        %h3
          = t('legal.section_14.title')
        %ol
          %li
            %p
              = t('legal.section_14.info')
          %li
            %p
              = t('legal.section_14.info_2')
          %li
            %p
              = t('legal.section_14.info_3')
          %li
            %p
              = t('legal.section_14.info_4')
          %li
            %p
              = t('legal.section_14.info_5')
      %li.title
        %h3
          = t('legal.section_15.title')
        %ol
          %li
            %p
              = t('legal.section_15.info')
          %li
            %p
              = t('legal.section_15.info_2')
      %li.title
        %h3
          = t('legal.section_16.title')
        %ol
          %li
            %p
              = t('legal.section_16.info')
          %li
            %p
              = t('legal.section_16.info_2')
          %li
            %p
              = t('legal.section_16.info_3')
          %li
            %p
              = t('legal.section_16.info_4')
          %li
            %p
              = t('legal.section_16.info_5')
      %li.title
        %h3
          = t('legal.section_17.title')
        %section
          %strong
            = t('legal.section_17.title_2')
          %p
            = t('legal.section_17.title_4')
          %strong
            = t('legal.section_17.title_3')
          %p
            = t('legal.section_17.info')

        %section
          %strong
            = t('legal.section_17.title_2')
          %p
            = t('legal.section_17.title_5')
          %strong
            = t('legal.section_17.title_3')
          %p
            = t('legal.section_17.info_2')


        %section
          %strong
            = t('legal.section_17.title_2')
          %p
            = t('legal.section_17.title_6')
          %strong
            = t('legal.section_17.title_3')
          %p
            = t('legal.section_17.info_3')

        %section
          %strong
            = t('legal.section_17.title_2')
          %p
            = t('legal.section_17.title_7')
          %strong
            = t('legal.section_17.title_3')
          %p
            = t('legal.section_17.info_4')

        %section
          %strong
            = t('legal.section_17.title_2')
          %p
            = t('legal.section_17.title_8')
          %strong
            = t('legal.section_17.title_3')
          %p
            = t('legal.section_17.info_5')

        %section
          %strong
            = t('legal.section_17.title_2')
          %p
            = t('legal.section_17.title_9')
          %strong
            = t('legal.section_17.title_3')
          %p
            = t('legal.section_17.info_6')

= render 'partials/psuedo_footer'