<%= hidden_field_tag(:previous_route_id, @route_id.to_i) if @route_id %>
<%= form.label :name  %>
<%= form.text_field :name %>

<%= form.label :latlng, 'Location'  %>
<%= form.hidden_field :latitude %>
<%= form.hidden_field :longitude %>
<div id="map_wrapper">
  <input type="text" id="search_map" placeholder="Search the map..." autocomplete="off" formaction="" >
  <div id="map"></div>
</div>

<% content_for :js do %>
<script type="text/javascript">
  var map;
  var polygon;
  var bounds;
  function initMap() {
        
    function initialize() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: new google.maps.LatLng(54.559322,-4.174804),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        zoomControl: true
      });
      
      var input = document.getElementById('search_map');
      var searchBox = new google.maps.places.SearchBox(input);
      
      map.data.setStyle({
        editable: true,
        draggable: true
      });
      
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });
      
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();
        var selectedPlace = places[0];
        
        map.setZoom(10);
        map.panTo(selectedPlace.geometry.location);
      })
      
      // Prevent form being submitted if user uses keyboard to select a place
      function stopFormSubmit(e) {
        if (e.which == 13) e.preventDefault();
      }
      
      input.addEventListener('focus', function() {
        document.addEventListener('keypress', stopFormSubmit);
      });
      
      input.addEventListener('blur', function() {
        document.removeEventListener('keypress', stopFormSubmit, true);
      });
      
      google.maps.event.addListener(map, 'click', function(e){
        $('#place_latitude').val(e.latLng.lat());
        $('#place_longitude').val(e.latLng.lng());
        marker = new google.maps.Marker({position: e.latLng, map: map});
      });
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
  }
</script>

<style media="screen">
#map {
  width: 600px;
  height: 300px;
}
</style>
<% end %>
