<%= hidden_field_tag(:previous_route_id, @route_id.to_i) if @route_id %>
<%= form.label :town_village, 'Town/Village'  %>
<%= text_field :town_village, nil %>

<%= form.label :name  %>
<%= form.text_field :name %>

<%= form.label :latlng, 'Location'  %>
<%= form.hidden_field :latitude %>
<%= form.hidden_field :longitude %>
<%= form.hidden_field :os_id %>
<div id="map_wrapper">
</div>

<% content_for :js do %>
<script type="text/javascript">
    var map = L.map('map_wrapper', {
      zoomControl: true
    }).setView([52.0891, 0.5600], 9);
    
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      maxZoom: 18,
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1Ijoid2VhcmVmdXR1cmVnb3YiLCJhIjoiY2o3dDc4bGpoNGd2ajJ3bWp4ZWg3dWd0YiJ9.SbUuzZNHrNFQmgjtYUTU-A'
    }).addTo(map);

    var autoCompleteOptions = {
      url: function(place) {
        return '/places.json?query=' + place
      },
      getValue: "NAME1",
      list: {
        match: {
          enabled: true
        },
        onClickEvent: function() {
          var chosenItem = $("#town_village_").getSelectedItemData();
          var eastings = chosenItem.GEOMETRY_X;
          var northings = chosenItem.GEOMETRY_Y;
          var latlng = eastNorthToLatLong(eastings, northings);
          var coords = [latlng.lat, latlng.lng];

          $('#place_os_id').val(chosenItem.ID);
          $('#place_name').val(chosenItem.NAME1);
          $('#place_latitude').val(latlng.lat);
          $('#place_longitude').val(latlng.lng);
          
          marker = L.marker(coords, {draggable:'true'})
          marker.addTo(map);
          marker.on('dragend', function() {
            var position = marker.getLatLng();
            $('#place_latitude').val(position.lat);
            $('#place_longitude').val(position.lng);
          });
          map.setView(coords, 14);
        }
      },
      theme: 'square'
    };

    $('#town_village_').easyAutocomplete(autoCompleteOptions);
</script>
<% end %>
