= hidden_field_tag(:previous_route_id, @route_id.to_i) if @route_id
= form.label :name
= form.text_field :name
= form.label :latlng, 'Location'
= form.hidden_field :latitude
= form.hidden_field :longitude
#map_wrapper
  = text_field :search_map, nil, placeholder: 'Search the map'
- content_for :js do
  :javascript
    var map = L.map('map_wrapper', {
      zoomControl: true
    }).setView([52.0891, 0.5600], 9);
    
    L.tileLayer('https://api.mapbox.com/styles/v1/wearefuturegov/cj8pp146j9uyv2rojanc93qtf/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
      maxZoom: 18,
      accessToken: 'pk.eyJ1Ijoid2VhcmVmdXR1cmVnb3YiLCJhIjoiY2o3dDc4bGpoNGd2ajJ3bWp4ZWg3dWd0YiJ9.SbUuzZNHrNFQmgjtYUTU-A'
    }).addTo(map);

    var autoCompleteOptions = {
      url: function(place) {
        return '/admin/placenames?query=' + place
      },
      getValue: "NAME1",
      list: {
        match: {
          enabled: true
        },
        onClickEvent: function() {
          var chosenItem = $("#search_map_").getSelectedItemData();
          var eastings = chosenItem.GEOMETRY_X;
          var northings = chosenItem.GEOMETRY_Y;
          var latlng = eastNorthToLatLong(eastings, northings);
          var coords = [latlng.lat, latlng.lng];

          $('#place_latitude').val(latlng.lat);
          $('#place_longitude').val(latlng.lng);
          
          marker = L.marker(coords, {draggable:'true'})
          marker.addTo(map);
          marker.on('dragend', function() {
            var position = marker.getLatLng();
            $('#place_latitude').val(position.lat);
            $('#place_longitude').val(position.lng);
          });
          map.setView(coords, 14);
        }
      },
      theme: 'square'
    };

    $('#search_map_').easyAutocomplete(autoCompleteOptions);
