%section.section
  %h3
    = t('bookings.day.title')
  %section.dates
    - @journeys.keys.uniq.each do |j|
      %a.button.single.date-button{ 'data-selector' => "journeys_#{j.to_date}" }
        %span.date
          = j.to_date.strftime('%e %b')
        %span.day
          = j.to_date.strftime('%a')
      %a.button.single.date-button{ 'data-selector' => "journeys_#{j.to_date}" }
        %span.date
          = j.to_date.strftime('%e %b')
        %span.day
          = j.to_date.strftime('%a')