- content_for :top_sec do
  %section.section
    %h2
      = t('bookings.title')

  %section.section
    %section.key
      %section.markers
        %section
          = fa_icon 'circle-o'
        %section.link
        %section
          = fa_icon 'map-marker'
      %section.info-wrap
        %span.top#start_location
          %label
            = from.name
        %span.bottom#end_location
          %label
            = to.name

  = form_for @booking do |form|
  
    = form.hidden_field :pickup_stop_id
    = form.hidden_field :dropoff_stop_id
    
    = render 'days', form: form

    #times.hidden
      = render 'outward_times', form: form, journey_type: :journey_id, type: 'outward', journeys: @journeys, from: from, to: to

    #one_way.hidden
    
    %section.section
      .landmarks.hidden
        %label
          = t('bookings.landmark.title')
        .pickup_landmarks

        %section.link
        
        .dropoff_landmarks

    #details.hidden
      #passengers
    
      %section.section
        %h2
          = t('bookings.requirements.label')
        = form.text_field :special_requirements
        %p
          = t('bookings.requirements.extra')
    
      %section.section
        %h2
          = t('bookings.lead.title')

        %p.small
          %span.required
            *
          = t('form.required')
          
        = form.label :passenger_name, :class => 'long' do
          = t('bookings.lead.label')
          %span.required
            *
        = form.text_field :passenger_name, required: true
    
        = form.label :passenger_phone_number, :class => 'long' do
          = t('bookings.lead.mobile.label')
          %span.required
            *
          %span.small
            = t('bookings.lead.mobile.message')
        = form.text_field :passenger_phone_number, required: true, pattern: '.{11,}', minlength: 11, title: 'Minimum of 11 characters'
    
    
        = form.label :passenger_email, :class => 'long' do
          = t('bookings.lead.email.label')
          %spans.small
            = t('bookings.lead.email.message')
        = form.text_field :passenger_email
    
      = form.submit :class => 'button cta primary', :id => 'submit-booking', value: t('button.next')

- content_for :js do
  :javascript

    $('.date-button').click(function() {
      var target = $(this).data('selector');
      var type = $(this).data('type');
      $('#times').removeClass('hidden');
      $('.times .time').addClass('hidden');
      $(' .' + target).removeClass('hidden');
      scrollToBottom();
    })

    $('.date-button').on('click', function(){
      $('.date-button').removeClass('selected');
      $(this).addClass('selected');
      scrollToBottom();
    });

    $('#outward_times .button').on('click', function(){
      $('#outward_times .button').removeClass('selected');
      $(this).addClass('selected');
      scrollToBottom();
    });

    function scrollToBottom() {
      $("html, body").animate({ scrollTop: $(window).scrollTop() + 400 }, 500);
    }
    $(window).bind("mousewheel", function() {
      $("html, body").stop();
    });
