%section.section
  .times{ id: "#{type}_times"}
    %h4
      - if type == 'return'
        %label.button
          No return journey
          = form.radio_button journey_type, nil
        %h3
          = t('bookings.return.time')
      - else
        %h3
          = t('bookings.outward.time')
    - @journeys.each do |date,journeys|
      %p{class: "journeys_#{date.to_s} hidden time" }
        - journeys.sort_by(&:start_time).uniq.each do |j|
          %label.button
            = j.time_at_stop(@booking.pickup_stop).strftime("%l:%M%P")
            
            = form.radio_button journey_type, j.id, 'data-arrival-time' => j.time_at_stop(@booking.dropoff_stop).strftime("%l:%M%P")
