%section.section
  .times{ id: "#{type}_times"}
    - if type == 'return'
      .direction
        %label.button.secondary.oneway
          = t('button.oneway')
          = form.radio_button journey_type, nil
        %label.button.secondary.return.selected
          = t('button.return')
          = form.radio_button journey_type, nil
      .hide_times
        %label
          = t('bookings.return.time')
    - else

      %label
        = t('bookings.outward.time')
    .hide_times
      - journeys.each do |date,journey_collection|
        %p{class: "journeys_#{date.to_s} hidden time" }
          - journey_collection.sort_by(&:start_time).uniq.each do |j|
            %label.button
              - if type == 'return'
                = j.time_at_stop(@booking.dropoff_stop).strftime("%l:%M%P")
                - arrival_time = j.time_at_stop(@booking.pickup_stop)
              - else
                = j.time_at_stop(@booking.pickup_stop).strftime("%l:%M%P")
                - arrival_time = j.time_at_stop(@booking.dropoff_stop)
              
              = form.radio_button journey_type, j.id, 'data-arrival-time' => arrival_time.strftime("%l:%M%P")

  #arrival-times.hidden
