%section.section
  %h2
    = t('cancel.title')

  %p
    = t('cancel.amendments')

  %p
    = t('cancel.cancel')

  %p
    = t('cancel.help')

  = form_for @booking, url: bookings_path, method: :put do |f|

    = f.hidden_field :state, value: :cancelled

    = f.label :cancellation_reason
    = f.text_area :cancellation_reason

    = f.submit value: t('button.submit_cancellation'), class: "button cta primary"
