%section.section
  %h2
    Cancel your booking
    
  %p
    We're sorry to see that you want to cancel your booking. Click 'Confirm cancelation'
    below to confirm.
  %p
    It would also help us to know why you canceled your journey today,
    so please tell us why in the box below. This will help us to tailor future
    journeys and make
    %strong
      Ride
    better for everyone
    
  = form_for [@booking.route, @booking] do |f|
    
    = f.hidden_field :state, value: :cancelled
    
    = f.label :cancellation_reason
    = f.text_area :cancellation_reason
    
    = f.submit 'Cancel your booking', data: { confirm: 'Are you sure you want to cancel your booking?' }
