 <div class="top-sec container white-block">
  <div class="inner">
    <h3><span class="pickup"><%= @booking.pickup_stop.name %></span> to <span class="dropoff"><%= @booking.dropoff_stop.name %></span></h3>
    <p>Single Journey: <%= number_to_currency @booking.single_price, unit: '£' %>
    <%= link_to "No return journey", choose_pickup_location_route_booking_path(@route, @booking) %>
    <p>Return Journey: <%= number_to_currency @booking.return_price, unit: '£' %>

    <%= form_for [@route, @booking], url: save_return_journey_route_booking_path(@route, @booking) do |form| %>
      <%= form.label :number_of_passengers %>
      <%= form.select :number_of_passengers, [1,2,3,4,5] %>
      <%= form.label :special_requirements %>
      <%= form.text_field :special_requirements %>
  </div>
</div>

<div class="container">
  <div class="inner">
    <%= render partial: 'display_journeys', locals: {form: form} %>
  </div>
</div>
  <%= form.submit 'Next', :class => 'button alt-button' %>
<% end %>

<%= link_to "suggest a new time", suggest_journey_route_booking_path(@route, @booking) %>
