<%= form_for [@route, @booking], url: save_journey_route_booking_path(@route, @booking) do |form| %>
  <div class="top-sec container white-block">
    <div class="inner">
      <h3><span class="pickup"><%= @booking.pickup_stop.name %></span> to <span class="dropoff"><%= @booking.dropoff_stop.name %></span></h3>
      <p>All times listed are estimates and may change based on who else schedules a ride.</p>
        <%= form.label :number_of_passengers %>
        <%= form.select :number_of_passengers, [1,2,3,4,5] %>
        <%= form.label :special_requirements %>
        <%= form.text_field :special_requirements %>
    </div>
  </div>

  <div class="container">
    <div class="inner">
      <%= render partial: 'display_journeys', locals: {form: form} %>
      <div class="card">
        <%= form.submit 'Next', :class => 'button alt-button disabled', :disabled => true %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "suggest a new time", suggest_journey_route_booking_path(@route, @booking) %>
