<div class="container">
  <div class="inner">
    <%= form_for [@route, @booking], url: save_payment_method_route_booking_path(@route, @booking) do |form| %>
      <% current_passenger.payment_methods.each do |payment_method| %>
        <label class="payment-option">
          <%= form.radio_button :payment_method_id, payment_method.id %>
          <span>
            <% if payment_method.name == :balance %>
              £0.00
            <% else %>
              <i class="fa <%= payment_class(payment_method.name) %>" id="<%= payment_method.name %>"></i>
            <% end %>
            <%= payment_method.friendly_name %>
          </span>
        </label>
      <% end %>
      <!--<label class="payment-option">
        <%= form.radio_button :payment_method_id, "new" %>
        <i class="fa fa-plus-circle"></i> Add a payment method
      </label>-->
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.payment-option').click(function() {
    setTimeout(function(){
      $('.edit_booking').submit();
    }, 10);
  });
</script>
