<div class="container">
  <div class="inner">
    <div id="passenger-stop-select" class="stop-list">
      <div id="main-line"></div>
      <% @stops.each do |stop| %>
        <div class="stop card" id="<%= stop.position_in_order(reversed: @reversed) %>" data-stop-id="<%= stop.id %>">
          <div class="dot stop-dot">
            <div class="dot-middle stop-dot-middle"></div>
          </div>
          <div class="stop-dot-line"></div>
          <div class="stop-title"><%= stop.name %></div>
        </div>
      <% end %>

      <%= form_for [@route, @booking] do |form| %>
        <%= form.hidden_field :pickup_stop_id %>
        <%= form.hidden_field :dropoff_stop_id %>
        <div id="confirmation" class="card" style="display: none;">
          <%= form.submit 'View Times', :class => 'button' %>
        </div>
      <% end %>

      <div class="clear"></div>
    </div>
  </div>
</div>
