<%= form_for [@route, @booking], url: save_return_journey_route_booking_path(@route, @booking) do |form| %>
  <div class="top-sec container white-block">
    <div class="inner">
      <h3><span class="pickup"><%= @booking.pickup_stop.name %></span> to <span class="dropoff"><%= @booking.dropoff_stop.name %></span></h3>
      <p>
        Single Journey:
        <span id="single_price">
          <%= number_to_currency @booking.single_price, unit: '£' %>
        </span>
      </p>
      <%= link_to "No return journey", choose_pickup_location_route_booking_path(@route, @booking) %>
      <p>
        Return Journey:
        <span id="return_price">
          <%= number_to_currency @booking.return_price, unit: '£' %>
        </span>
      </p>
      <%= form.label :child_tickets %>
      <%= form.number_field :child_tickets %>
      <%= form.label :older_bus_passes %>
      <%= form.number_field :older_bus_passes %>
      <%= form.label :disabled_bus_passes %>
      <%= form.number_field :disabled_bus_passes %>
      <%= form.label :scholar_bus_passes %>
      <%= form.number_field :scholar_bus_passes %>
    </div>
  </div>

  <div class="container">
    <div class="inner">
      <%= render partial: 'display_journeys', locals: {form: form} %>
      <div class="card">
        <%= form.submit 'Next', :class => 'button alt-button disabled', :disabled => true %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "suggest a new time", suggest_journey_route_booking_path(@route, @booking) %>

<script type="text/javascript">
  $('form.edit_booking').change(function() {
    $.get(
      "<%= price_api_route_booking_path(@route, @booking) %>",
      $(this).serialize()
    ).done(
      function( data ) {
        $("#single_price").html(data.single);
        $("#return_price").html(data.return);
      }
    );
  })
</script>
