<div class="card-cont">
  <% @journeys.each_pair do |date, journeys| %>
    <div class="card no-click date-card">
      <div class="inner">
        <div class="date">
          <h3><%= friendly_date date %></h3>
        </div>
        <% journeys.each do |journey| %>
          <div class="single-journey">
            <div class="left">
              <span class="timeEst"><%= padded_time @booking.pickup_stop.time_for_journey(journey) %></span><br/>
              <span class="pickUp"><%= @booking.pickup_stop.name %></span>
            </div>
            <div class="right">
              <span class="timeEst"><%= padded_time @booking.dropoff_stop.time_for_journey(journey) %></span><br/>
              <span class="dropOff"><%= @booking.dropoff_stop.name %></span>
            </div>
            <div id="confirmation">
              <% if journey.full? %>
                <p class="button">Fully booked<p>
              <% else %>
                <%= form_for [@route, @booking], url: save_journey_route_booking_path(@route, @booking) do |form| %>
                  <%= form.hidden_field :journey_id, value: journey.id %>
                  <%= form.submit 'Define Pick Up Point', :class => 'button' %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "suggest a new time", suggest_journey_route_booking_path(@route, @booking) %>
