%section.section
  %h2
    Thank you #{" #{@booking.passenger_name}"}, your ride has been confirmed
  - if Vehicle.find(Journey.find(@booking.journey_id).vehicle_id).photo?
    = image_tag Vehicle.find(Journey.find(@booking.journey_id).vehicle_id).photo.url(:square), :class => 'vehicle-pic vehicle-passenger'
  %p
    You will be picked up at #{@booking.outward_trip.pickup_name} on #{friendly_date @booking.outward_trip.pickup_time} between #{plus_minus_ten @booking.outward_trip.pickup_time}.
  - if @booking.payment_method == 'cash'
    %p
      If you need to cancel…
    %p
      Kindly pay #{number_to_currency @booking.price, unit: '£'} to your driver.
  - else
    %p You can cancel your booking up to 12 hours before your journey by going to:
= link_to I18n.t('button.complete'), journeys_path, :class => "button cta primary"
- content_for :js do
  :javascript
    $(function() {
      $('#back-btn').html('Home');
    });
