<div class="card-cont">
  <p>Please note that pick up and drop off times are estimated and might slightly change.</p>

  <div class="card" id="pickUpCard">
    <div id="pickup_map" style="width: 100%; height: 200px;"></div>
    <div class="inner">
      <h4>Your Pick Up<br/>Location:</h4>
      <div class="right" style="float: right; text-align: right;">
        <span class="timeEst"><%= padded_time @booking.pickup_stop.time_for_journey(@booking.journey) %></span><br/>
        <span class="pickUp"><%= @booking.pickup_stop.name %></span>
      </div>
    </div>
  </div>

  <div class="card" id="dropOffCard">
    <div id="dropoff_map" style="width: 100%; height: 200px;"></div>
    <div class="inner">
      <h4>Your Drop Off<br/>Location:</h4>
      <div class="right" style="float: right; text-align: right;">
        <span class="timeEst"><%= padded_time @booking.dropoff_stop.time_for_journey(@booking.journey) %></span><br/>
        <span class="dropOff"><%= @booking.dropoff_stop.name %></span>
      </div>
    </div>
  </div>

  <p>
    Paying <%= number_to_currency @booking.price, unit: '£' %> with <%= @booking.payment_method.friendly_name %>
  </p>

  <p>Let us know your phone number so that we can notify you when your vehicle is on its way.</p>

  <%= form_for [@route, @booking], url: save_confirm_route_booking_path(@route, @booking) do |form| %>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, value: current_passenger.phone_number %>
    <% unless current_passenger.braintree_id? %>
      <%= hidden_field_tag :payment_nonce %>
      <%= hidden_field_tag :device_data %>
    <% end %>
    <%= form.submit "Confirm Booking", :class => 'cardBtn', id: 'payment-button', onclick: 'return false;' %>
  <% end %>
</div>

<% unless current_passenger.braintree_id? %>
  <script type="text/javascript">
    // Fetch the button you are using to initiate the PayPal flow
    var paypalButton = document.getElementById('payment-button');

    // Create a Client component
    braintree.client.create({authorization: '<%= @token %>'}, function (clientErr, clientInstance) {

      braintree.dataCollector.create({
        client: clientInstance,
        paypal: true
      }, function (err, dataCollectorInstance) {
        if (err) {
          // Handle error
          return;
        }
        $('#device_data').val(dataCollectorInstance.deviceData);
      });

      // Create PayPal component
      braintree.paypal.create({
        client: clientInstance
      }, function (paypalErr, paypalInstance) {
        paypalButton.addEventListener('click', function () {
          // Tokenize here!
          paypalInstance.tokenize({
            flow: 'vault', // This enables the Vault flow
            billingAgreementDescription: 'Payment for booking',
            locale: 'en_gb',
            enableShippingAddress: false
          }, function (err, tokenizationPayload) {
            $('#payment_nonce').val(tokenizationPayload.nonce);
            $('form.edit_booking').submit();
          });
        });
      });
    });

  </script>
<% end %>

<script type="text/javascript">
  function initMap() {
    var pickup_point = new google.maps.LatLng(<%= @booking.pickup_lat %>, <%= @booking.pickup_lng %>);
    var dropoff_point = new google.maps.LatLng(<%= @booking.dropoff_lat %>, <%= @booking.dropoff_lng %>);
    var pickup_map = new google.maps.Map(document.getElementById("pickup_map"), {
      zoom: 14,
      center: pickup_point,
      draggable: false,
      streetViewControl: false,
      mapTypeControl: false,
      scrollwheel: false,
      zoomControl: false
    });
    var dropoff_map = new google.maps.Map(document.getElementById("dropoff_map"), {
      zoom: 14,
      center: dropoff_point,
      streetViewControl: false,
      draggable: false,
      mapTypeControl: false,
      scrollwheel: false,
      zoomControl: false
    });

    var pickup_marker = new google.maps.Marker({
      position: pickup_point,
      map: pickup_map
    });

    var dropoff_marker = new google.maps.Marker({
      position: dropoff_point,
      map: dropoff_map
    });

  }
</script>
