<div class="container">
  <div class="inner">
    <p>Please note that pick up and drop off times are estimated and might slightly change.</p>

    <div class="card no-click" id="pickUpCard">
      <div id="pickup_map" style="width: 100%; height: 200px;"></div>
      <div class="inner">
        <h4>Your Pick Up<br/>Location:</h4>
        <div class="right" style="float: right; text-align: right;">
          <span class="timeEst"><%= @booking.pickup_stop.time_for_journey(@booking.journey).strftime("%l:%M%P") %></span><br/>
          <span class="pickUp"><%= @booking.pickup_stop.name %></span>
        </div>
      </div>
    </div>

    <div class="card no-click" id="dropOffCard">
      <div id="dropoff_map" style="width: 100%; height: 200px;"></div>
      <div class="inner">
        <h4>Your Drop Off<br/>Location:</h4>
        <div class="right" style="float: right; text-align: right;">
          <span class="timeEst"><%= @booking.dropoff_stop.time_for_journey(@booking.journey).strftime("%l:%M%P") %></span><br/>
          <span class="dropOff"><%= @booking.dropoff_stop.name %></span>
        </div>
      </div>
    </div>

    <% if @booking.return_journey? %>
      <p>Return journey:</p>
      <p><%= @booking.dropoff_stop.name %>: <%= @booking.dropoff_stop.time_for_journey(@booking.return_journey).strftime("%l:%M%P") %></p>
      <p><%= @booking.pickup_stop.name %>: <%= @booking.pickup_stop.time_for_journey(@booking.return_journey).strftime("%l:%M%P") %></p>
    <% end %>

    
    <% if num_of_adults(@booking.number_of_passengers) > 0 %>
      <p>Adults: <%= num_of_adults(@booking.number_of_passengers) %> (<%= number_to_currency(@booking.adult_single_price, :unit => "£") %> each)</p>
    <% end %>

    <% if @booking.child_tickets > 0 %>
      <p>Child Fare: <%= @booking.child_tickets %> (<%= number_to_currency(@booking.child_single_price, :unit => "£") %> each)</p>
    <% end %>
    <% if @booking.older_bus_passes > 0 %>
      <p>Older persons bus pass: <%= @booking.older_bus_passes %> (£0.00 each)</p>
    <% end %>
    <% if @booking.disabled_bus_passes > 0 %>
      <p>Disabled persons bus pass: <%= @booking.disabled_bus_passes %> (£0.00 each)</p>
    <% end %>
    <% if @booking.scholar_bus_passes > 0 %>
      <p>Scholarly Season Ticket: <%= @booking.scholar_bus_passes %> (£0.00 each)</p>
    <% end %>
    <p>Total: <%= number_to_currency @booking.price, unit: '£' %></p>

    <% if @booking.special_requirements %>
      <p>Special Requirements: <%= @booking.special_requirements %></p>
    <% end %>

    <p>Let us know your phone number so that we can notify you when your vehicle is on its way.</p>

    <%= form_for [@route, @booking], url: save_confirm_route_booking_path(@route, @booking) do |form| %>
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number, value: current_passenger.phone_number %>
      <%= form.submit "Continue to Payment", :class => 'button' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function initMap() {
    var pickup_point = new google.maps.LatLng(<%= @booking.pickup_lat %>, <%= @booking.pickup_lng %>);
    var dropoff_point = new google.maps.LatLng(<%= @booking.dropoff_lat %>, <%= @booking.dropoff_lng %>);
    var pickup_map = new google.maps.Map(document.getElementById("pickup_map"), {
      zoom: 14,
      center: pickup_point,
      draggable: false,
      streetViewControl: false,
      mapTypeControl: false,
      scrollwheel: false,
      zoomControl: false
    });
    var dropoff_map = new google.maps.Map(document.getElementById("dropoff_map"), {
      zoom: 14,
      center: dropoff_point,
      streetViewControl: false,
      draggable: false,
      mapTypeControl: false,
      scrollwheel: false,
      zoomControl: false
    });

    var pickup_marker = new google.maps.Marker({
      position: pickup_point,
      map: pickup_map
    });

    var dropoff_marker = new google.maps.Marker({
      position: dropoff_point,
      map: dropoff_map
    });

  }
</script>
