<div class="container blue-block fill-height">
  <div class="inner">
    <h2 class="mb05 mt2 center ">Your Journey has been Booked!</h2>
    <% if Vehicle.find(Journey.find(@booking.journey_id).vehicle_id).photo? %>
      <div class="center mb1"><%= image_tag Vehicle.find(Journey.find(@booking.journey_id).vehicle_id).photo.url(:square), :class => 'vehicle-pic vehicle-passenger' %></div>
    <% end %>

    <p>Thanks<%= " #{@booking.passenger_name}" %>, your booking has been confirmed.</p>
    <p class="bold">A minivan will pick you up at your pickup point outside <%= @booking.pickup_name %> on <%= friendly_date @booking.journey.start_time %> between <%= plus_minus_ten @booking.pickup_stop.time_for_journey(@booking.journey) %>.</p>

    <% if @booking.payment_method == 'cash' %>
      <p class="bold">Please pay <%= number_to_currency @booking.price, unit: '£' %> to your driver.</p>
      <p>If you need to cancel you can see this booking in:</p>
    <% else %>
      <p>You can cancel your booking up to 12 hours before your journey by going to:</p>
    <% end %>
    <%= link_to 'Your Bookings', passenger_path, :class => "button alt-button" %>
  </div>
</div>

<% content_for :js do %>
<script type="text/javascript">
  $(function() {
    $('#back-btn .no-mobile').html('Home');
  });
</script>
<% end %>
