<div class="container">
  <div class="inner">
    <h4 class="mb1">Your Journey</h4>

    <div class="card no-click overview">
      <div class="overview-bar radius border-top-radius">
        <%= @booking.dropoff_stop.name %>
      </div>

      <div class="overview-sub-bar">
        Going There <%= friendly_date @booking.journey.start_time, true %>
      </div>
      <div class="inner out-journey">
        <div class="half">
          <p class="mb05"><span class="timeEst"><%= @booking.pickup_stop.time_for_journey(@booking.journey).strftime("%l:%M%P") %></span><br/>
          <span class="small grey">+/- 10 min</span></p>
          <p class="small place"><%= @booking.pickup_name %></p>
        </div>
        <div class="half">
          <p class="mb05"><span class="timeEst"><%= @booking.dropoff_stop.time_for_journey(@booking.journey).strftime("%l:%M%P") %></span><br/>
          <span class="small grey">+/- 10 min</span></p>
          <p class="small place"><%= @booking.dropoff_name %></p>
        </div>
        <div class="clear"></div>
      </div>
      <% if @booking.return_journey? %>
        <div class="overview-sub-bar">
          Coming Back <%= friendly_date @booking.return_journey.start_time, true %>
        </div>
        <div class="inner return-journey">
          <div class="half">
            <p class="mb05"><span class="timeEst"><%= @booking.pickup_stop.time_for_journey(@booking.return_journey).strftime("%l:%M%P") %></span><br/>
            <span class="small grey">+/- 10 min</span></p>
            <p class="small place"><%= @booking.dropoff_name %></p>
          </div>
          <div class="half">
            <p class="mb05"><span class="timeEst"><%= @booking.dropoff_stop.time_for_journey(@booking.return_journey).strftime("%l:%M%P") %></span><br/>
            <span class="small grey">+/- 10 min</span></p>
            <p class="small place"><%= @booking.pickup_name %></p>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>

      <div class="breaker"></div>
      <div class="inner price-breakdown">
        <% if num_of_adults(@booking.number_of_passengers) == @booking.number_of_passengers %>
          <p><%= pluralize @booking.number_of_passengers, 'adult fare' %> (<%= number_to_currency(@booking.adult_single_price, :unit => "£") %> each)</p>
        <% else %>
          <p><strong><%= pluralize @booking.number_of_passengers, 'passenger' %></strong></p>
          <% if num_of_adults(@booking.number_of_passengers) > 0 %>
            <p>Adults: <%= num_of_adults(@booking.number_of_passengers) %> (<%= number_to_currency(@booking.adult_single_price, :unit => "£") %> each)</p>
          <% end %>
          <% if @booking.child_tickets > 0 %>
            <p>Child Fare: <%= @booking.child_tickets %> (<%= number_to_currency(@booking.child_single_price, :unit => "£") %> each)</p>
          <% end %>
          <% if @booking.older_bus_passes > 0 %>
            <p>Older persons bus pass: <%= @booking.older_bus_passes %> (£0.00 each)</p>
          <% end %>
          <% if @booking.disabled_bus_passes > 0 %>
            <p>Disabled persons bus pass: <%= @booking.disabled_bus_passes %> (£0.00 each)</p>
          <% end %>
          <% if @booking.scholar_bus_passes > 0 %>
            <p>Scholarly Season Ticket: <%= @booking.scholar_bus_passes %> (£0.00 each)</p>
          <% end %>
        <% end %>
      </div>
      <div class="overview-bar price right-text radius border-bottom-radius">
        <span>Total: <%= number_to_currency @booking.price, unit: '£' %></span>
      </div>
    </div>

    <%= form_for [@route, @booking], url: save_confirm_route_booking_path(@route, @booking) do |form| %>
      <%= form.hidden_field :state, value: 'booked' %>

      <%= form.label :passenger_name, "Passenger's Name" %>
      <%= form.text_field :passenger_name, value: current_passenger.name, class: "white-input" %>

      <p>Let us know your phone number so that we can notify you when your vehicle is on its way.</p>
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number, value: current_passenger.phone_number, class: "white-input mb1" %>
      <% PaymentMethod.types.each do |payment_method_id| %>
        <%= form.radio_button :payment_method_id, payment_method_id, :class => "hidden" %>
      <% end %>
      <button id="paypal" class="pay-btn button alt-button mb1"><i class="fa fa-paypal"></i> Pay with PayPal</button>
      <button id="cash" class="pay-btn button alt-button"><i class="fa fa-money"></i> Pay with Cash</button>
      <%= form.submit "Confirm booking", :class => 'button alt-button hidden' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.pay-btn').click(function(e) {
    e.preventDefault();
    if ($(this).attr('id') == 'paypal') {
      $('#booking_payment_method_id_paypal').prop("checked", true).val(1);
    } else {
      $('#booking_payment_method_id_cash').prop("checked", true).val(5);
    }
    $('.edit_booking').submit();
  });
</script>
