<%= form_for [@route, @booking], url: save_return_journey_route_booking_path(@route, @booking) do |form| %>
  <div class="top-sec container white-block">
    <div class="inner">
      <p>You will be travelling from <span class="pickup"><%= @booking.pickup_stop.name %></span> to <span class="dropoff"><%= @booking.dropoff_stop.name %></span> on <strong><%= friendly_date @booking.journey.start_time %></strong> with your pickup at <%= @booking.pickup_time.strftime("%l:%M%P") %> (+/- 10 min) in <%= @booking.pickup_stop.name %></p>
      <p class="return-ticket"><strong>Return:</strong> <%= @booking.dropoff_stop.name %> to <%= @booking.pickup_stop.name %></p>
      <div class="center"><%= render partial: 'display_journey_tabs' %></div>
    </div>
  </div>

  <div class="container">
    <div class="inner">
      <div class="return-ticket">
        <%= render partial: 'display_journeys', locals: {form: form, field: :return_journey_id, returning: true} %>
      </div>
      <div class="card single-ticket hidden">
        <%= form.submit 'Next', name: "single_journey", :class => 'button alt-button single-ticket hidden wierdMarginFix' %>
      </div>
    </div>
  </div>

  <div id="hideReturn" class="continue-btn fixed bottom white-block" style="display: none;">
    <div class="container">
      <div class="inner">
        <div class="card">
          <%= form.submit 'Next', :class => 'button alt-button disabled return-btn', :disabled => true %>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-spacer return-ticket"></div>
<% end %>

<% content_for :js do %>
<script type="text/javascript">
  $(function() {
    clearRadios();
  });
</script>
<% end %>
