- content_for :top_sec do
  %section.section
    %h2
      = t('bookings.title')

  %section.section
    %section.key
      %section.markers
        %section
          = fa_icon 'circle-o'
        %section.link
        %section
          = fa_icon 'map-marker'
      %section.info-wrap
        %span.top
          %label
            = @booking.pickup_stop.name
        %span.bottom
          %label
            = @booking.dropoff_stop.name

  = form_for [@route, @booking], url: route_booking_path(@route, @booking), method: :put do |form|

    = render 'days', form: form
    
    #times.hidden
      = render 'times', form: form, journey_type: :journey_id, type: 'outward'
      
      #one_way
        = render 'times', form: form, journey_type: :return_journey_id, type: 'return'
    
    %section.section
      .landmarks.hidden
        = form.label :pickup_landmark_id, I18n.t('bookings.landmark.title')
        = form.select :pickup_landmark_id,
            options_from_collection_for_select(@booking.pickup_stop.landmarks, 'id', 'name'),
            { include_blank: I18n.t('bookings.pickup.title') },
            { class: 'select' }

        %section.link
        
        = form.select :dropoff_landmark_id,
            options_from_collection_for_select(@booking.dropoff_stop.landmarks, 'id', 'name'),
            { include_blank: I18n.t('bookings.dropoff.title')},
            { class: 'select' }

    #details.hidden
      = render 'passengers', form: form, journey_type: :journey_id, type: 'outward'
    
      %section.section
        = form.label :special_requirements, I18n.t('bookings.requirements.label')
        = form.text_field :special_requirements
        %p.small
          = t('bookings.requirements.message')

      %section.section
        %h2
          = t('bookings.lead.title')
        = form.label :passenger_name, I18n.t('bookings.lead.label')
        = form.text_field :passenger_name, required: true
        
        = form.label :email
        = form.text_field :email, required: true

        = form.label :phone_number, I18n.t('bookings.lead.mobile.label')
        = form.text_field :phone_number, required: true

        %p.small
          = t('bookings.lead.mobile.message')


      = form.submit :class => 'button cta primary', :id => 'submit-booking'

- content_for :js do
  :javascript
    
    $('.date-button').click(function() {
      var target = $(this).data('selector');
      var type = $(this).data('type');
      $('#times').removeClass('hidden');
      $('#times .time').addClass('hidden');
      $(' .' + target).removeClass('hidden');
    })
    
    $('#outward_times input').click(function() {
      var time = $(this).data('arrival-time')
      $('#arrival-times').removeClass('hidden');
      $('#arrival-times').html('Approximate arrival time: ' + time);
    })
    
    $('#booking_dropoff_landmark_id').change(function() {
      $('#return-chooser').removeClass('hidden');
      $('#details').removeClass('hidden');
    })

    $('.date-button').on('click', function(){
      $('.date-button').removeClass('selected');
      $(this).addClass('selected');
    });

    $('#outward_times .button').on('click', function(){
      $('#outward_times .button').removeClass('selected');
      $(this).addClass('selected');
    });

    // One Way button
  
    $('#return_times .oneway').click(function() {
      $('#return_times .return').removeClass('selected');
      $('#return_times .oneway').addClass('selected');
      $('#return_times .hide_times').addClass('hide');
      $('.return_price').addClass('hidden');
      $('.single_price').removeClass('hidden');
    })

    $('#return_times .return').click(function() {
      $('#return_times .oneway').removeClass('selected');
      $('#return_times .return').addClass('selected');
      $('#return_times .hide_times').removeClass('hide');
      $('.single_price').addClass('hidden');
      $('.return_price').removeClass('hidden');
    })

    $('#return_times').click(function() {
      $('.landmarks').removeClass('hidden');
    })
    
