<div class="container">
  <div class="inner">
    <div class="single-booking-card no-click card <% if @booking.future? %>future<% else %>expired<% end %> overview">
      <div class="overview-bar radius border-top-radius">
        <%= @booking.pickup_stop.name %> To <%= @booking.dropoff_stop.name %>
      </div>

      <div class="overview-sub-bar">
        Outbound: <%= friendly_date @booking.journey.start_time, true %>
      </div>
      <div class="center">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @booking.pickup_lat %>,<%= @booking.pickup_lng %>&zoom=16&size=1000x175&key=AIzaSyCg32P3H1gWK64VVmdhxG4yQZ-uBiu_0JA&markers=color:red%7Clabel:A%7C<%= @booking.pickup_lat %>,<%= @booking.pickup_lng %>">
      </div>
      <div class="inner out-journey">
        <div class="half">
          <p class="mb05"><span class="timeEst"><%= @booking.pickup_time.strftime("%l:%M%P") %></span><br/>
          <span class="small grey">+/- 10 min</span></p>
          <p class="small place"><%= @booking.pickup_name %></p>
        </div>
        <div class="half">
          <p class="mb05"><span class="timeEst"><%= @booking.dropoff_time.strftime("%l:%M%P") %></span><br/>
          <span class="small grey">+/- 10 min</span></p>
          <p class="small place"><%= @booking.dropoff_name %></p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="center">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @booking.dropoff_lat %>,<%= @booking.dropoff_lng %>&zoom=16&size=1000x175&key=AIzaSyCg32P3H1gWK64VVmdhxG4yQZ-uBiu_0JA&markers=color:red%7Clabel:A%7C<%= @booking.dropoff_lat %>,<%= @booking.dropoff_lng %>">
      </div>
      <% if @booking.return_journey? %>
        <div class="overview-sub-bar">
          Return: <%= friendly_date @booking.return_journey.start_time, true %>
        </div>

        <div class="inner return-journey">
          <div class="half">
            <p class="mb05"><span class="timeEst"><%= @booking.pickup_time(true).strftime("%l:%M%P") %></span><br/>
            <span class="small grey">+/- 10 min</span></p>
            <p class="small place"><%= @booking.dropoff_name %></p>
          </div>
          <div class="half">
            <p class="mb05"><span class="timeEst"><%= @booking.dropoff_time(true).strftime("%l:%M%P") %></span><br/>
            <span class="small grey">+/- 10 min</span></p>
            <p class="small place"><%= @booking.pickup_name %></p>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
      <div class="breaker"></div>
      <div class="inner price-breakdown">
        <% if @booking.number_of_adults == @booking.number_of_passengers %>
          <p><%= pluralize @booking.number_of_passengers, 'adult fare' %> (<%= number_to_currency(@booking.adult_single_price, :unit => "£") %> single)</p>
        <% else %>
          <p><strong><%= pluralize @booking.number_of_passengers, 'passenger' %></strong></p>
          <% if @booking.number_of_adults > 0 %>
            <p>Adults: <%= @booking.number_of_adults %> (<%= number_to_currency(@booking.adult_single_price, :unit => "£") %> single)</p>
          <% end %>
          <% if @booking.child_tickets > 0 %>
            <p>Child Fare: <%= @booking.child_tickets %> (<%= number_to_currency(@booking.child_single_price, :unit => "£") %> single)</p>
          <% end %>
          <% if @booking.older_bus_passes > 0 %>
            <p>Older persons bus pass: <%= @booking.older_bus_passes %> (£0.00 each)</p>
          <% end %>
          <% if @booking.disabled_bus_passes > 0 %>
            <p>Disabled persons bus pass: <%= @booking.disabled_bus_passes %> (£0.00 each)</p>
          <% end %>
          <% if @booking.scholar_bus_passes > 0 %>
            <p>Scholarly Season Ticket: <%= @booking.scholar_bus_passes %> (£0.00 each)</p>
          <% end %>
        <% end %>
      </div>
      <div class="overview-bar price right-text radius border-bottom-radius">
        <span>Total<% if @booking.payment_method == 'cash' %> to Pay<% else %> Paid<% end %>: <%= number_to_currency @booking.price, unit: '£' %></span>
      </div>
    </div>
    <% if @booking.future? %>
      <div class="actions">
        <%= form_for [@booking.route, @booking], method: :delete do |form| %>
          <%= form.submit "Cancel Booking", :class => "negative delete" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
