= form.label :name
= form.text_field :name

= form.label :rule_type
= form.select :rule_type, PricingRule.rule_types.keys, { include_blank: 'Please select' }, class: 'input select'

#per_mile.hidden
  
  = form.label :per_mile, 'Price Per Mile'
  = form.number_field :per_mile, class: 'input', step: 0.5
  
#staged.hidden

  %hr/

  %h3
    Pricing Stages
      
  #stages
  
  = link_to 'Add Stage', '#', { 'data-content' => (render partial: 'stage', locals: {form: form}), id: 'add-stage', class: 'button' }
  
  = form.hidden_field :stages
  
  %hr/
  
= form.label :child_multiplier
= form.number_field :child_multiplier, class: 'input', step: 0.5, value: 0.5

= form.label :return_multiplier
= form.number_field :return_multiplier, class: 'input', step: 1.5

= form.label :allow_concessions
= form.select :allow_concessions, [['Yes', 1],['No', 0]], {}, class: 'input select'

= form.submit 'Submit'
