<div class="container">
  <div class="inner">
    <div class="card no-click wide-btn">
      <div class="inner">
        <%= form_for [:admin, @vehicle] do |form| %>
          <%= render partial: 'fields', locals: {form: form} %>
      </div>
      <%= form.submit "Update Vehicle", :class => "button border-bottom-left-radius" %>
      <% end %>
      <% if current_supplier.admin? %>
        <%= form_for [:admin, @vehicle], method: :delete do |form| %>
          <%= form.submit "Delete vehicle", :class => "button negative delete half border-bottom-right-radius" %>
        <% end %>
        <% content_for :js do %>
        <script type="text/javascript">
          $('.button').each(function() {
            if (!$(this).hasClass('half')) {
              $(this).addClass('half');
            }
          });
        </script>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
