<h1>Your vehicles</h1>

<table>
  <tr>
    <th>Registration Number</th>
    <th>Number of Seats</th>
    <th>Make and Model</th>
    <th>Colour</th>
  </tr>
  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.registration %></td>
      <td><%= vehicle.seats %></td>
      <td><%= vehicle.make_model %></td>
      <td><%= vehicle.colour %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add a vehicle", new_admin_vehicle_path %>
