%p
  Hello

- if state == 'cancelled'
  %p
    A booking has been cancelled on
    %strong
      Ride
    \. Please ensure this is updated on your system.
- else
  %p
    A new booking has been confirmed on
    %strong
      Ride

%p The passenger's details are as follows:

%h2 Contact Details

%p
  %strong Name:
  = booking.passenger_name

%p
  %strong Phone Number:
  = booking.phone_number

%p
  %strong Email:
  = booking.email
  
%h2 Number of passengers

%p
  %strong Adults:
  = booking.number_of_adult_tickets
  
%p
  %strong Children:
  = booking.child_tickets

%p
  %strong Bus Passes:
  = booking.number_of_free_tickets
  
- if state != 'cancelled' && booking.special_requirements

  %h2 Special requirements
  
  %p
    = booking.special_requirements
  
  %p
    %strong
      If there are any issues with these requirements, please contact the passenger directly and the Ride team.

%h2
  This is a #{ booking.return_journey ? 'return' : 'single' } journey

#outward

  %h2 Outward Journey

  = render 'journey', trip: booking.outward_trip

- if booking.return_journey
  #return
    
    %h2 Return Journey

    = render 'journey', trip: booking.return_trip

- if state != 'cancelled' && booking.payment_method == 'cash'
  %p
    %strong
      Amount
    = number_to_currency(booking.price, unit: '£')
  
  %p
    %strong
      Payment Method
    = booking.payment_method
    
%p
  Thanks
  %br/
  Your friendly
  %strong Ride
  robot
