%p= t('email.booking_details.greeting')

- if state == 'cancelled'
  = t("email.booking_details.cancelled_intro_html")
- else
  = t('email.booking_details.confirmed_intro_html')

= t('email.booking_details.passenger_details_html', name: booking.name, phone_number: booking.phone_number, email: booking.email, number_of_adult_tickets: booking.number_of_adult_tickets, child_tickets: booking.child_tickets, number_of_free_tickets: booking.number_of_free_tickets)
  
- if state != 'cancelled' && booking.special_requirements
  = t('email.booking_details.special_requirements_html', special_requirements: booking.special_requirements)

= t('email.booking_details.journey_type_html', journey_type: (booking.return_journey ? 'return' : 'single') )

#outward

  %h2= t('email.booking_details.outward_journey')
  
  = render 'journey', trip: booking.outward_trip

- if booking.return_journey
  #return
    
    %h2= t('email.booking_details.return_journey')

    = render 'journey', trip: booking.return_trip

- if state != 'cancelled'

  = t('email.booking_details.price_html', amount: number_to_currency(booking.price, unit: '£'), payment_method: booking.payment_method == 'card' ? 'Prepaid by card' : booking.payment_method)
    
= t('email.booking_details.signoff_html')
