%p
  Hello

%p
  A new booking has been confirmed on
  %strong
    Ride

%p The passenger's details are as follows:

%h2 Contact Details

%p
  %strong Name:
  = @booking.passenger_name

%p
  %strong Phone Number:
  = @booking.phone_number

#outward

  %h2 Outward Journey

  = render 'journey', trip: @booking.outward_trip

- if @booking.return_journey
  #return
    
    %h2 Return Journey

    = render 'journey', trip: @booking.return_trip
  
- else

  %p
    This is a
    %strong
      single journey
    only.
    
%p
  The passenger will need to pay
  = number_to_currency(@booking.price, unit: '£')
  to the driver
    
%p
  Thanks
  %br/
  Your friendly
  %strong Ride
  robot
