= render 'header'

%p
  Your Ride booking from
  = @booking.outward_trip.pickup_stop.name
  to
  = @booking.outward_trip.dropoff_stop.name
  for
  = pluralize @booking.number_of_passengers, 'passenger'
  is confirmed.

%p
  Your vehicle will collect you from
  = @booking.outward_trip.pickup_name
  on
  = friendly_date(@booking.outward_trip.pickup_time)
  between
  = plus_minus_ten(@booking.outward_trip.pickup_time)

  - if @booking.return_journey

    , and returning from
    = @booking.return_trip.pickup_name
    on
    = friendly_date(@booking.return_trip.pickup_time)
    between
    = plus_minus_ten(@booking.return_trip.pickup_time)
  
  \. Your vehicle will have a Ride sticker in the windscreen.
  
%p
  If you specified any special requirements then our supplier will contact
  you if for any reason they are unable to meet them.

%p
  To amend or cancel your booking, visit
  = link_to nil, cancel_booking_url(@booking.token)

%p
  Thanks,<br />The RIDE Team

%p
  P.s. Where do you need to go next? Reply to this email to tell us the journeys you’d like to see available

= render 'footer'
