= render 'header'

%p
  Your Ride booking from
  = @booking.outward_trip.pickup_stop.name
  to
  = @booking.outward_trip.dropoff_stop.name
  is confirmed.

%p
  Your approved local driver will pick you up from
  = @booking.outward_trip.pickup_name
  on
  = friendly_date(@booking.outward_trip.pickup_time)
  between
  = plus_minus_ten(@booking.outward_trip.pickup_time)

- if @booking.return_journey

  %p
    Your return ride will be from
    = @booking.return_trip.pickup_name
    on
    = friendly_date(@booking.return_trip.pickup_time)
    between
    = plus_minus_ten(@booking.return_trip.pickup_time)

%p
  To cancel your booking, visit
  = link_to nil, cancel_booking_url(@booking.token)

%p
  Thanks,<br />The RIDE Team

%p
  P.s. Where do you need to go next? Reply to this email to tell us the journeys you’d like to see available

= render 'footer'
