<% if @invalid_phone_number %>
  Phone number is not a valid phone number
<% end %>

<div class="onboarding-header blue-block">
  <div class="inner center">
    <h1><%= @page_title %></h1>
    <h2>Need to go somewhere? We’ll pick you up.</h2>
    <p>Pickup is a door-to-door transport service sponsored by Essex County Council. It’s cheaper than a taxi, more flexible than a bus, and designed to get you where you need to go.</p>

    <%= form_for @passenger, url: passenger_path do |form| %>
      <%= form.label :phone_number, "Enter your mobile number to get started." %>
      <%= form.number_field :phone_number, autofocus: true %>
      <div class="actions">
        <%= form.submit "Send Verification Code", class: 'alt-button' %>
      </div>
    <% end %>
    <h4><a href="#step-1" title="How It Works..."> <i class="fa fa-long-arrow-down"></i> How It Works...</a></h4>
  </div>
</div>

<div class="steps container">
  <div id="step-1" class="grey-block">
    <div class="inner">
      <h3>Step 1: Pick Your Route</h3>
      <p>Start by selecting where and when you want to travel. (Pickup operates routes all across rural Essex) You can schedule a trip any time from way over a month up to a day in advance.</p>
      <p>All times listed are estimates and may change based on who else schedules a ride.</p>

      <h4><a href="#step-2" title="Step 2"> <i class="fa fa-long-arrow-down"></i> Step 2</a></h4>
    </div>
  </div>

  <div id="step-2" class="teal-block">
    <div class="inner">
      <h3>Step 2: Pick Your Start and End Points</h3>
      <p>Pickup is available anywhere in the areas highlighted. We can stop anywhere that’s convenient -- including houses, schools, and shops.</p>
      <h4><a href="#step-3" title="Step 3"> <i class="fa fa-long-arrow-down"></i> Step 3</a></h4>
    </div>
  </div>

  <div id="step-3" class="grey-block">
    <div class="inner">
      <h3>Step 3: Pick How You’d Like to Pay</h3>
      <p>You can pay with a card or use your bus pass. You can also have someone else top up your account on your behalf.</p>
      <h4><a href="#step-4" title="Step 4"> <i class="fa fa-long-arrow-down"></i> Step 4</a></h4>
    </div>
  </div>

  <div id="step-4" class="teal-block">
    <div class="inner">
      <h3>Step 4: Get Picked Up</h3>
      <p>Pickup will send you a text a few hours before your trip to let you know exactly when we’ll arrive.</p>

      <%= form_for @passenger, url: passenger_path do |form| %>
        <%= form.label :phone_number, "Enter your mobile number to get started." %>
        <%= form.text_field :phone_number %>
        <div class="actions">
          <%= form.submit "Send Verification Code", class: 'alt-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
