<div class="card-cont">
  <div class="login_form card no_click profile cont">  
    <%= form_for(@passenger, multipart: true) do |f| %>
      <div class="profile_banner">
        <div class="profile_face">
          <div id="theFace">
            <% if @passenger.photo? %>
              <%= image_tag @passenger.photo.url(:square), :id => 'profile_start_pic' %>
            <% else %> 
              <div class="circle" id="plaecholderProfile">
                <i class="fa fa-user fa-2x"></i>
              </div>
            <% end %>
            <img id="tempImg" src="#" alt="Temporary Image Upload" style="display: none;">
          </div>
          <div class="field photo_edit">
            <%= f.file_field :photo, :class => 'inputfile' %>
              <%= f.label :photo, :class => 'inputfile_label' do %>
                <i class="fa fa-upload"></i> <span>Choose a File...</span>
              <% end %>
          </div>
        </div>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <div class="actions">
        <%= f.submit 'Save profile' %>
      </div>
    <% end %>
    </div>
  <% if @passenger.bookings.any? %>
    <div class="bookings">
      <h2>Bookings</h2>
      <p>This is a list of all of your future and past bookings:</p>
    </div>
    <% @passenger.bookings.booked.each do |booking| %>
      <div class="login_form card cont">
        <h4>Your Journey - <%= friendly_date(booking.pickup_stop.time_for_journey(booking.journey)) %></h4>
        <p><span class="bold">Pick Up Location:</span> <%= booking.pickup_stop.name %> - Est. <%= padded_time booking.pickup_stop.time_for_journey(booking.journey)%><br/>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= booking.pickup_lat %>,<%= booking.pickup_lng %>&zoom=16&size=1000x175&key=AIzaSyCg32P3H1gWK64VVmdhxG4yQZ-uBiu_0JA&markers=color:red%7Clabel:A%7C<%= booking.pickup_lat %>,<%= booking.pickup_lng %>"></p>

        <p><span class="bold">Drop Off Location:</span> <%= booking.dropoff_stop.name %> - Est. <%= padded_time booking.dropoff_stop.time_for_journey(booking.journey)%><br/>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= booking.dropoff_lat %>,<%= booking.dropoff_lng %>&zoom=16&size=1000x175&key=AIzaSyCg32P3H1gWK64VVmdhxG4yQZ-uBiu_0JA&markers=color:red%7Clabel:A%7C<%= booking.dropoff_lat %>,<%= booking.dropoff_lng %>"></p>
        

        <% if booking.future? %>
          <div class="actions">
            <%= form_for [booking.route, booking], method: :delete do |form| %>
              <%= form.submit "Cancel", :class => "negative delete" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>