<div class="container white-block profile">
  <div class="inner">
    <%= form_for(@passenger, multipart: true) do |f| %>
      <div class="profile-banner">
        <div class="profile-face">
          <div id="theFace">
            <% if @passenger.photo? %>
              <%= image_tag @passenger.photo.url(:square), :id => 'profile-start-pic' %>
            <% else %>
              <div class="circle" id="plaecholderProfile">
                <i class="fa fa-user fa-2x"></i>
              </div>
            <% end %>
            <img id="tempImg" src="#" alt="Temporary Image Upload" style="display: none;">
          </div>
          <div class="field photo-edit">
            <%= f.file_field :photo, :class => 'inputfile' %>
              <%= f.label :photo, :class => 'inputfile-label button' do %>
                <i class="fa fa-upload"></i> <span>Choose a File...</span>
              <% end %>
          </div>
        </div>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <div class="actions">
        <%= f.submit 'Save profile' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="inner">
    <% if @passenger.bookings.any? %>
      <div class="bookings">
        <h2>Bookings</h2>
        <p>This is a list of all of your future and past bookings:</p>
      </div>
      <h2>Active:</h2>
      <% @future_bookings.each do |booking| %>
        <%= render partial: 'booking', locals: {booking: booking} %>
      <% end %>
      <h2>Past:</h2>
      <% @past_bookings.each do |booking| %>
        <%= render partial: 'booking', locals: {booking: booking} %>
      <% end %>
    <% end %>

    <%= form_for current_passenger, method: :delete do |form| %>
      <%= form.submit "Logout", :class => "button alt-button" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#back-btn .no-mobile').html('Home');
  });
</script>
