<div class="container white-block profile">
  <div class="inner">
    <%= form_for(@passenger, multipart: true) do |f| %>
      <div class="profile-banner">
        <div class="profile-face">
          <div id="theFace">
            <% if @passenger.photo? %>
              <%= image_tag @passenger.photo.url(:square), :id => 'profile-start-pic' %>
            <% else %>
              <div class="circle" id="plaecholderProfile">
                <i class="fa fa-user fa-2x"></i>
              </div>
            <% end %>
            <img id="tempImg" src="#" alt="Temporary Image Upload" style="display: none;">
          </div>
          <div class="field photo-edit">
            <%= f.file_field :photo, :class => 'inputfile' %>
              <%= f.label :photo, :class => 'inputfile-label button' do %>
                <i class="fa fa-upload"></i> <span>Choose a File...</span>
              <% end %>
          </div>
        </div>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <div class="actions">
        <%= f.submit 'Save profile' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="inner">
    <% if @passenger.bookings.any? %>
      <div class="bookings">
        <h2>Bookings</h2>
        <p>This is a list of all of your future and past bookings:</p>
      </div>
      <% @passenger.bookings.booked.order(created_at: :desc).each do |booking| %>
        <%= link_to passenger_booking_path(booking) do %>
          <div class="single-booking-card card <% if booking.future? %>future<% else %>expired<% end %> overview">
            <div class="overview-bar radius border-top-radius">
              <%= booking.pickup_stop.name %> To <%= booking.dropoff_stop.name %>
            </div>

            <div class="overview-sub-bar">
              Outbound: <%= friendly_date booking.journey.start_time, true %>
            </div>
            <div class="inner out-journey">
              <div class="half">
                <p class="mb05"><span class="timeEst"><%= booking.pickup_stop.time_for_journey(booking.journey).strftime("%l:%M%P") %></span><br/>
                <span class="small grey">+/- 10 min</span></p>
                <p class="small place"><%= booking.pickup_name %></p>
              </div>
              <div class="half">
                <p class="mb05"><span class="timeEst"><%= booking.dropoff_stop.time_for_journey(booking.journey).strftime("%l:%M%P") %></span><br/>
                <span class="small grey">+/- 10 min</span></p>
                <p class="small place"><%= booking.dropoff_name %></p>
              </div>
              <div class="clear"></div>
            </div>
            <% if booking.return_journey? %>
              <div class="overview-sub-bar">
                Return: <%= friendly_date booking.return_journey.start_time, true %>
              </div>
              <div class="inner return-journey">
                <div class="half">
                  <p class="mb05"><span class="timeEst"><%= booking.pickup_stop.time_for_journey(booking.return_journey).strftime("%l:%M%P") %></span><br/>
                  <span class="small grey">+/- 10 min</span></p>
                  <p class="small place"><%= booking.dropoff_name %></p>
                </div>
                <div class="half">
                  <p class="mb05"><span class="timeEst"><%= booking.dropoff_stop.time_for_journey(booking.return_journey).strftime("%l:%M%P") %></span><br/>
                  <span class="small grey">+/- 10 min</span></p>
                  <p class="small place"><%= booking.pickup_name %></p>
                </div>
                <div class="clear"></div>
              </div>
            <% end %>
            <div class="overview-bar price right-text radius border-bottom-radius">
              <span>Total<% if booking.payment_method_id == 5 %> to Pay<% end %>: <%= number_to_currency booking.price, unit: '£' %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= form_for current_passenger, method: :delete do |form| %>
      <%= form.submit "Logout", :class => "button alt-button" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#back-btn .no-mobile').html('Home');
  });
</script>
