<% if @incorrect %>
  That verification code was incorrect. Please try again.
<% end %>

<div id="verify" class="grey-block fill-space container center">
  <div class="inner">
    <% if !@incorrect %>
      <div id="verify-loading" class="center">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p>Sending verification code...</p>
      </div>
    <% end %>

    <h2>Verify Your Phone Number</h2>
    <p>Type in the verification code we sent to your phone number</p>

    <div id="digit-input">
      <input id="digit1" class="single-digit" type="number" min="0" max="9" size="1" autofocus="true">
      <input id="digit2" class="single-digit" type="number" min="0" max="9" size="1">
      <input id="digit3" class="single-digit" type="number" min="0" max="9" size="1">
      <input id="digit4" class="single-digit" type="number" min="0" max="9" size="1">

      <%-# Need to swap this form with inputs similar to above -%>
      <%= form_tag verify_passenger_path do %>
        <%= hidden_field_tag :id, @passenger.id %>
        <%= hidden_field_tag :verification_code %>
        <div class="actions">
          <%= submit_tag "Verify" %>
        </div>
      <% end %>
    </div>

    <div id="no-verify">
      <p>If you have not received a text message verification code, please <strong><%= link_to "try again now", request.referer.present? ? request.referer : default_path, title: "Try sending verification code again" %></strong></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function() {
      $('#verify-loading').slideUp();
    }, 3500);

    $('.single-digit').on("keydown", function(){
      if($(this).val()){
        $(this).val('')
      }
    });

    $('.single-digit').on("keyup", function(){
      if($(this).val()){
        $(this).next('input').focus();

        var digit1 = $('#digit1').val(),
            digit2 = $('#digit2').val(),
            digit3 = $('#digit3').val(),
            digit4 = $('#digit4').val();
        var code = digit1.toString() + digit2.toString() + digit3.toString() + digit4.toString();
        $('#verification_code').val(code);
        console.log($('#verification_code').val());
      }
    });
  });


</script>