<script type="text/javascript">
  var map;
  var polygon;
  var bounds;
  function initMap() {
    function initialize() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(51.68149662336043, 0.8797645568847656),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        zoomControl: true
      });

      map.data.setControls(['Polygon']);
      map.data.setDrawingMode('Polygon');
      map.data.setStyle({
        editable: true,
        draggable: true
      });

      function savePolygon() {
        map.data.setControls(null);
        map.data.setDrawingMode(null);
        map.data.toGeoJson(function (json) {
          $('#stop_polygon').val(JSON.stringify(json));
        });
        fetchPolygon();
        if(hasPolygon()) {
          fetchLatLngBoundsOfPolygon();
          $('#stop_latitude').val(bounds.getCenter().lat());
          $('#stop_longitude').val(bounds.getCenter().lng());
        }
      }

      function loadPolygon() {
        var data = JSON.parse($('#stop_polygon').val());
        // map.data.forEach(function (f) {
        //     map.data.remove(f);
        // });
        map.data.addGeoJson(data);
        fetchPolygon();
        if(hasPolygon()) {
          fetchLatLngBoundsOfPolygon();
          fitMapToPolygon();
        }
      }

      function fetchPolygon() {
        // This appears to be the most reliable way of
        // fetching the polygon object from the map object :-/
        map.data.forEach(function(feature) {polygon = feature.getGeometry()})
      }

      function hasPolygon() {
        return typeof polygon !== 'undefined';
      }

      function fetchLatLngBoundsOfPolygon() {
        bounds=new google.maps.LatLngBounds();
        polygon.forEachLatLng(function(ll) {bounds.extend(ll)});
      }

      function fitMapToPolygon() {
        fetchLatLngBoundsOfPolygon();
        map.fitBounds(bounds);
      }


      map.data.addListener('addfeature', savePolygon);
      map.data.addListener('removefeature', savePolygon);
      map.data.addListener('setgeometry', savePolygon);
      loadPolygon();
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  };
</script>

<style media="screen">
#map {
  width: 600px;
  height: 300px;
}
</style>

<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :polygon, "Define the Stop Area" %>
<%= form.hidden_field :polygon, value: form.object.polygon.to_json %>
<%= form.hidden_field :latitude %>
<%= form.hidden_field :longitude %>
<div id="map"></div>
