<script type="text/javascript">
  var map
  function initMap() {
    <% if @landmark.latitude.present? && @landmark.longitude.present? %>
      var center = new google.maps.LatLng(<%= @landmark.latitude %>, <%= @landmark.longitude %>);
    <% else %>
      var center = new google.maps.LatLng(<%= @stop.latitude %>, <%= @stop.longitude %>);
    <% end %>
    var geoJson = <%= @stop.polygon.to_json.html_safe %>;
    map = new google.maps.Map(document.getElementById("map"), {
      center: center,
      zoom: 15
    });
    map.data.addGeoJson(geoJson);
    var polygon_feature;
    map.data.forEach(function(feature) {polygon_feature = feature.getGeometry()});
    var bounds = new google.maps.LatLngBounds();
    polygon_feature.forEachLatLng(function(ll) {bounds.extend(ll)});

    var polygon = new google.maps.Polygon({
      paths: polygon_feature.getArray()[0].getArray(),
    });

    $('<div/>').addClass('centerMarker').html('Landmark Location').appendTo(map.getDiv());

    google.maps.event.addListenerOnce(map, 'idle', function(){
      $('#map .centerMarker').css('margin-left', ($('#map .centerMarker').width()/2)*-1);
    });

    var last_position = map.getCenter();
    map.addListener('center_changed', function() {
      if(!google.maps.geometry.poly.containsLocation(map.getCenter(), polygon)) {
        map.setCenter(last_position);
      } else {
        last_position = map.getCenter();
        $('#landmark_latitude').val(map.getCenter().lat());
        $('#landmark_longitude').val(map.getCenter().lng());
      }
    });
  }
</script>

<%= form.label :name %>
<%= form.text_field :name %>
<div id="map" style="margin-bottom:0;width:100%;height:300px"></div>

<%= form.label :latitude %>
<%= form.text_field :latitude %>
<%= form.label :longitude %>
<%= form.text_field :longitude %>
