<div id="sup_edit_landmark" class="container">
  <div class="inner">
    <div class="card no-click wide-btn">
      <div class="inner">
        <h2>Edit Landmark:</h2>
    
        <%= form_for [:admin, @route, @stop, @landmark] do |form| %>
          <div class="inner">
            <%= render partial: 'fields', locals: {form: form} %>
          </div>
        </div>
        <%= form.submit "Save Landmark", :class => "button name_validation border-left-radius half" %>
        <% end %>
      <%= form_for [:admin, @route, @stop, @landmark], method: :delete do |form| %>
        <%= form.submit "Delete Landmark", :class => "half button negative delete border-right-radius" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function() {
      $('#map .centerMarker').css('margin-left', ($('#map .centerMarker').outerWidth()/2)*-1);

      console.log('tes' + $('#map .centerMarker').outerWidth());
    }, 1500);

    $('#landmark_name').keyup(function() {
      $('#map .centerMarker').html($(this).val());
      $('#map .centerMarker').css('margin-left', ($('#map .centerMarker').outerWidth()/2)*-1);
    });
  });
</script>