<section class="section">
  <div class="card">
    <h2><%= current_supplier.name %><span>edit</span></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
      </div>

      <div class="cont">
        <div class="field half">
          <%= f.label :password %>
          <span class="subTxt"><em>(leave blank if you don't want to change it)</em></span>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field half">
          <%= f.label :password_confirmation %>
          <% if @minimum_password_length %>
            <span class="subTxt"><em><%= @minimum_password_length %> characters minimum</em></span>
          <% end %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <br />
      <br />
      <br />
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
      <div class="action primary">
        <%= f.submit "Update"%>
      </div>
    </div>
  <% end %>
</section>