<div class="login-form card-cont">
  <h2>Sign up to Pickup Admin</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field full">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field full">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field full">
      <%= f.label :password_confirmation %>
      <em>Retype password</em>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field full">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field full">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <div class="field full photo-edit">
      <%= f.label :photo, "Profile Photo" %>
      <%= f.file_field :photo, :class => 'inputfile' %>
      <%= f.label :photo, :class => 'inputfile-label button' do %>
        <i class="fa fa-upload"></i> <span>Choose a File </span>
      <% end %>
    </div>

    <div class="field full">
      <%= f.label :team_id %>
      <%= f.select :team_id, [["New team", nil]] + Team.all.collect {|t| [t.name, t.id]}  %>
    </div>

    <div class="clear"></div>

    <div class="actions">
      <%= f.submit "Sign up", class: "button" %>
    </div>
    <div class="half mt05">
      <p class="mb0">Already have an account?</p>
      <%= render "suppliers/shared/links" %>
    </div>
  <% end %>
</div>
