<div class="login_form card no_click lower_cont">
  <h2>Sign up to Admin</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field full">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field full">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field full">
      <%= f.label :password_confirmation %>
      <em>Retype password</em>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field full">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field full">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <div class="field full">
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </div>

    <div class="field full">
      <%= f.label :team_id %>
      <%= f.select :team_id, [["New team", nil]] + Team.all.collect {|t| [t.name, t.id]}  %>
    </div>

    <div class="actions full">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <div class="lower">
    <span>Already have an account?</span>
    <%= render "suppliers/shared/links" %>
  </div>
</div>