<div class="top-sec white-block container">
  <div class="inner">
    <p>These routes are flexible and show the general areas that your Pickup will pass through.</p>
    <label>Filter Routes:
      <input id="filter" type="search">
      <!-- <select name="filter" id="filter">
        <option value="0">View All</option>
        
      </select> -->
    </label>
    <p class="mb0">Browse <strong><span id="total-route-number"><%= Route.bookable_routes.count %></span></strong> total routes<span class="hidden" id="route-location"></span>:</p>
  </div>
</div>

<div class="card-cont container">
  <div class="inner">
    <% Route.bookable_routes.each do |route| %>
      <div class="full-route" id="full-<%= route.id %>">
        <div class="route card<%= ' has_routes' if route.has_available_journeys? %> non-reverse" id="<%= route.id %>">
          <div class="inner">
            <div class="reverse-btn top-right" title="Reverse this Route">
              <div class="reverse-icon">
              <i class="fa fa-long-arrow-down"></i>
              <i class="fa fa-long-arrow-up"></i>
            </div>
            </div>
            <div class="origin"><%= route.stops.first.name %></div>
            <div class="bar"></div>
            <div class="acordBtn">
              <div class="button alt-button extra-small-button">
                <span class="arw"><i class="fa fa-chevron-down"></i></span> Show <%= pluralize(route.stops.count - 2, "other area") %>
              </div>
            </div>
            <div class="acord">
              <ul>
                <% route.stops.each do |stop| %>
                  <li id="<%= stop.id %>" <%= ' style="display: none"'.html_safe if stop.first? || stop.last? %>><%= stop.name %></li>
                <% end %>
              </ul>
            </div>
            <div class="desti"><%= route.stops.last.name %></div>
          </div>
          <%= link_to new_route_booking_path(route, reversed: false) do %>
            <div class="button border-bottom-radius">
              <span>Choose This Route</span>
            </div>
          <% end %>
        </div>
        <div class="reversed hidden route card<%= ' has_routes' if route.has_available_journeys? %>" id="<%= route.id %>-reversed">
          <div class="inner">
            <div class="reverse-btn top-right" title="Reverse this Route">
              <div class="reverse-icon">
              <i class="fa fa-long-arrow-down fa-rotate-180"></i>
              <i class="fa fa-long-arrow-up fa-rotate-180"></i>
            </div>
            </div>
            <div class="origin"><%= route.stops.last.name %></div>
            <div class="bar"></div>
            <div class="acordBtn">
              <div class="button alt-button">
                <span class="arw"><i class="fa fa-chevron-down"></i></span> Show <%= pluralize(route.stops.count - 2, "other area") %>
              </div>
            </div>
            <div class="acord">
              <ul>
                <% route.stops.reverse_each do |stop| %>
                  <li <%= ' style="display: none"'.html_safe if stop.first? || stop.last? %>><%= stop.name %></li>
                <% end %>
              </ul>
            </div>
            <div class="desti"><%= route.stops.first.name %></div>
          </div>
          <%= link_to new_route_booking_path(route, reversed: true) do %>
            <div class="button border-bottom-radius">
              <span>Choose This Route</span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="clear"></div>

    <div class="suggestion center grey">
      <p>Don't see a route relevant to you?<br/>
      <%= link_to "Suggest a new route", suggest_route_routes_path %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.reverse-btn').click(function() {
    var parent = $(this).closest('.route');
    var parentId = parent.attr('id');

    if (!parent.hasClass('reversed')) {
      parent.addClass('hidden');
      $('#' + parentId + '-reversed').removeClass('hidden');
    } else {
      parent.addClass('hidden');
      $('#' + parentId.replace('-reversed', '')).removeClass('hidden');
    }
  });

  $(document).ready(function() {
    var numOfRoutes = $('.full-route').length;
    var availableStops = [
      <% tempStops = Array.new() %>
        <% Route.bookable_routes.each do |route| %>
          <% route.stops.each do |stop| %>
            <% unless tempStops.include?(stop.name) %>
               "<%= stop.name %>",
               <% tempStops.push(stop.name) %>
            <% end %>
          <% end %>
        <% end %>
      ];
      $( "#filter" ).autocomplete({
        source: availableStops,
        minLength: 1,
        delay: 0,
        open: function(event, ui) {
          $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
        },
        select: function (event, ui) {
          checkRoutes(ui.item.value);
        }
      });
  });
  $( "#filter" ).on('search', function () {
    resetRoutes();
  });
  var typingTimer;

  $( "#filter" ).keyup(function() {
    var value = $(this).val();
    clearTimeout(typingTimer);
    typingTimer = setTimeout(function() {
      if (value.length >= 2) {
      checkRoutes(value);
      }
      if (value == "") {
        resetRoutes();
      }
    }, 500);
  });
  $( "#filter" ).keydown(function() {
    clearTimeout(typingTimer);
  });

  function resetRoutes() {
    $('.full-route').each(function() {
      // the text is 2 char or below, reveal any hidden routes 
      $(this).slideDown();
      $(this).removeClass('filtered');
    });
    $('#total-route-number').html($('.full-route').length);
    $('#route-location').html('').addClass('hidden');
  }

  function checkRoutes(tempTxt) {
    var exception = [];
    
    $('.full-route .non-reverse .acord li').each(function() {
      // for each list item
      if ($(this).html().toLowerCase().indexOf(tempTxt.toLowerCase()) >= 0) {
        // check if it contains the same text 
        // if so add to id array 
        exception.push($(this).closest('.full-route').attr('id'));
      } else {
        // if not remove vis class
        $(this).closest('.full-route').removeClass('filtered');
      }
    });
    $(exception).each(function(index, item) {
      // after checking all that add the vis class to all that need it
      $('#'+item).addClass('filtered');
      if (!$('#'+item).is(":visible")) {
        $('#'+item).slideDown();
      }
    });
    $('.full-route').each(function() {
      // run through all routes - if they dont have the vis class - kill them
      if(!$(this).hasClass('filtered')) {
        $(this).slideUp();
      }
    });
    $('#total-route-number').html(exception.length);
    $('#route-location').html(' via ' + tempTxt).removeClass('hidden');
  }
</script>


