<div class="card-cont">
  <% Route.bookable_routes.each do |route| %>
    <div class="route card<%= ' has_routes' if route.has_available_journeys? %>" id="<%= route.id %>">
      <div class="inner">
        
        <div class="origin"><%= route.stops.first.name %></div>

        <div class="bar"></div>

        <div class="acordBtn">
          <span class="arw"><i class="fa fa-chevron-down"></i></span> Via 
          <% if route.stops.count > 3 %>
            <% route.stops.first(3).each_with_index do |stop, index| %>
              <% if !stop.last?  %>
                <%= stop.name if !stop.first? %><%= ',' if index == 1 %>  
                <% if index == 2 && route.stops.count > 4 %>
                  &amp; <%= pluralize(route.stops.count - 4, "other area") %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <%= route.stops[1].name %>
          <% end %>
        </div>
        <div class="acord">
          <ul>
            <% route.stops.each do |stop| %>
              <li <%= ' style="display: none"'.html_safe if stop.first? || stop.last? %>><%= stop.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="desti"><%= route.stops.last.name %></div>
      </div>
      <%= link_to new_route_booking_path(route) do %>
        <div class="cardBtn">
          <span>Customise This Route</span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Suggest a new route", suggest_route_routes_path %>
