%section.hero
  .overlay
  .event
  %section.section.heading
    %h2
      = t('what.title')

%main.main
  %section.section
    %h4
      = t('what.info')
    %p
      = t('what.extra')
  %section.interest
    %section.section
      %h4
        = t('what.passengers.title')
      %p
        = t('what.passengers.info')

  %section.interest
    %section.section
      %h4
        = t('what.suppliers.title')
      %p
        = t('what.suppliers.info')

  %section.section
    %h3
      = t('question.title_b')
    %p
      = t('question.info_b')

    .action
      = mail_to I18n.t('email.landing.address'), I18n.t('button.contact'), subject: I18n.t('email.landing.subject'), class: 'button secondary'

= render 'partials/psuedo_footer'