<section id="sup_route_journeys">
  <div class="card">
    <%= form_for [:suppliers, @route, @journey] do |form| %>
      <div class="inner">
        <h4>Edit Journey</h4>
        <%= render partial: 'fields', locals: {form: form} %>
      </div>
      <div class="half">
        <%= form.submit "Submit Edit", :class => "cardBtn"  %>
      </div>
    <% end %>
    <div class="half">
      <%= form_for [:suppliers, @route, @journey], method: :delete do |form| %>
        <%= form.submit "Cancel & delete journey", :class => "negative" %>
      <% end %>
    </div>
  </div>
</section>
