<%= render partial: "layouts/suppliers_header" %>
<section id="sup_route_journeys">
  <table>
    <tr>
      <th>Date</th>
      <% @route.stops.each do |stop| %>
        <th><%= stop.name %></th>
      <% end %>
      <th></th>
    </tr>
    <% @journeys.each do |journey| %>
      <tr>
        <td><%= journey.start_time.strftime("%F") %></td>
        <% journey.stops.each do |stop| %>
          <td><%= stop.time_for_journey(journey).strftime("%H:%M") %></td>
        <% end %>
        <td>
          <%= link_to edit_suppliers_route_journey_path(@route, journey) do %>
            <button>Edit</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="card">
    <%= form_for [:suppliers, @route, Journey.new] do |form| %>
      <div class="inner">
        <%= form.label :start_time, "Add a New Journey:" %>
        <%= form.datetime_select :start_time %>
      </div>
      <%= form.submit "Create Journey", :class => "cardBtn" %>
    <% end %>
  </div>
</section>
<%= render partial: "layouts/suppliers_footer" %>