%section.section
  %div{"aria-live" => "assertive", :role => "alert"}
    %p.error-block
      = t('message.sorry')
      <strong>#{from.name}</strong> to <strong>#{to.name}</strong>.
      = fa_icon 'exclamation-triangle'
    %p
      = t('message.suggest')
      <strong>#{from.name}</strong>
      = t('message.suggest_end')
%section.section
  %h3
    = from.name
    %span
      to
    = fa_icon 'map-marker'
  - bookings.each do |bookings|
    .single
      .details
        = render 'bookings_form', bookings: bookings, suggestion: true
