%div{"aria-live" => "assertive", :role => "alert"}
  %p.error-block
    = t('message.sorry')
    to <strong>#{to.name}</strong>.
  %p.small
    %span.bold
      = t('service')
    = t('message.feedback')
  %p
    = link_to I18n.t('button.typeform'), I18n.t('button.typeform-link')
  %p.small
    = t('message.other')
    <strong>#{from.name}</strong>
    = t('message.other_end')

  - places.each do |place|
    .single
      .details
        = render 'book_button', from: from, to: place, button_label: place.name
