%div{"aria-live" => "assertive", :role => "alert"}
  %p.error-block
    = t('message.sorry')
    to <strong>#{to.name}</strong>.
  %p
    %span.bold 
      = t('service')
    = t('message.feedback')
  %p
    = link_to I18n.t('button.typeform'), 'https://bookyourride.typeform.com/to/EGXKN0'
  %p
    = t('message.suggest')
    <strong>#{from.name}</strong>
    = t('message.suggest_end')



  %h3
    = from.name
    %span
      to
    = fa_icon 'map-marker'
  %section.collection
    - bookings.each do |bookings|
      .single
        .details
          = render 'bookings_form', bookings: bookings, suggestion: true
