%section.section
  %div{"aria-live" => "assertive", :role => "alert"}
    %p.error-block
      = t('message.sorry')
      <strong>#{from.name}</strong> to <strong>#{to.name}</strong>.
      = fa_icon 'exclamation-triangle'
    %p
      = t('message.suggest') 
      <strong>#{from.name}</strong>
      = t('message.suggest_end')
%section.section
  %h3
    = from.name
    %span
      to
    = fa_icon 'map-marker'
  - places.first(3).each do |place|
    .single
      .details
        %h3
          = link_to "#{place.name}", from_to_journeys_path(from.slug, place.slug), class: 'button'