<div class='container'>
  <div class='inner'>
    <%= form_tag journeys_path, method: :get do %>
      <%= text_field_tag :from, nil, placeholder: 'From' %>
      <%= hidden_field_tag :from_id %>
      <%= text_field_tag :to, nil, placeholder: 'To', disabled: true %>
      <%= hidden_field_tag :to_id %>
      <%= submit_tag 'See available journeys' %>
    <% end %>

    <div id="map"></div>
    
    <%= render 'journeys', journeys: @journeys, booking: @booking %>
  </div>
</div>

<% content_for :js do %>

<script type='text/javascript'>
  var blue = '#1565c0',
      green = '#45B554';

  var centreMap = L.map('map', {
    zoomControl: false
  }).setView([52.0891, 0.5600], 9);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    maxZoom: 18,
    id: 'mapbox.light',
    accessToken: 'pk.eyJ1Ijoid2VhcmVmdXR1cmVnb3YiLCJhIjoiY2o3dDc4bGpoNGd2ajJ3bWp4ZWg3dWd0YiJ9.SbUuzZNHrNFQmgjtYUTU-A'
  }).addTo(centreMap);

  function _addCircle(coords, color) {
    L.circle(coords, {
      color: color,
      fillColor: color,
      fillOpacity: 0.25,
      radius: 1000
    }).addTo(centreMap);
    centreMap.setView(coords, 10);
  }

  function _changeOrigin() {
    $('#to').val('');
    // TODO: Remove destination circles
  }

  var enableTo = () => {
    var id = $("#from").getSelectedItemData().id;
    $('#from_id').val(id);

    options.url = function() {
      id = $('#from_id').val();
      return 'places.json?origin_id=' + id
    }

    $.getJSON(options.url(), function(data) {
      var chosenItem = data.find(item => item.id == id);
      _addCircle([chosenItem.latitude, chosenItem.longitude], blue);

      if(data.length > 0) {
        $('#to').removeAttr('disabled');
        options.list.onClickEvent = function() {
          var data = $("#to").getSelectedItemData();
          var lat = data.latitude
          var lng = data.longitude
          _addCircle([lat, lng], green)
          $('#to_id').val(data.id);
        }
        $('#to').easyAutocomplete(options);
      } else {
        $('#to').attr('placeholder', 'No destinations');
        $('#to').attr('disabled', 'disabled');
      }
    });
  };

  var options = {
    url: '/places.json',
    getValue: "name",
    list: {
      match: {
        enabled: true
      },
      onClickEvent: enableTo
    },
    theme: 'square'
  };

  $('#from').easyAutocomplete(options);

  $('#from').change(() => {
    _changeOrigin();
  });

  $(() => {
    if($.urlParam('from_id')) {
      var fromId = $.urlParam('from_id');
      var toId = $.urlParam('to_id');
      $.getJSON('places.json?origin_id=' + fromId, function(data) {
        var chosenFrom = data.find(item => item.id == fromId);
        var chosenTo = data.find(item => item.id == toId);
        $('#from').val(chosenFrom.name);
        $('#to').val(chosenTo.name);
        _addCircle([chosenFrom.latitude, chosenFrom.longitude], blue);
        _addCircle([chosenTo.latitude, chosenTo.longitude], green);
        $('#to').removeAttr('disabled');
      });
    }
  });

</script>
<% end %>
