<div class='container'>
  <div class='inner'>
    <%= render 'form', from: @from.try(:name), to: @to.try(:name) %>
    <div id="results">
      <% if @places %>
        <%= render 'suggested_journeys', places: @places, from: @from, to: @to %>
      <% else %>
        <%= render 'journeys', journeys: @journeys, booking: @booking %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :js do %>

<script type='text/javascript'>
  var enableTo = (slug) => {
    var toOptions = options;
    $('#from').data('slug', slug);
    toOptions.list.onChooseEvent = chosenTo;
    $('#to').easyAutocomplete(toOptions);
  }
  
  var chosenFrom = () => {
    var chosenItem = $("#from").getSelectedItemData();
    $('#from').data('placename', chosenItem.name);
    $('#from_result').addClass('hidden');
    $('#from_result').attr('hidden', true);
    
    history.pushState(null, null, '/journeys/' + chosenItem.slug);
    
    if (chosenItem.routes.length > 0) {
      enableTo(chosenItem.slug);
      $('#to').removeAttr('disabled');
    } else {
      var placename = $('#from').data('placename');
      $('#from_result #place').html(placename);
      $('#from_result').removeClass('hidden');
      $('#from_result').attr('hidden', false);
      $.post({
        url: '/log_entry/?from=' + chosenItem.name
      });
    }
  }
  
  var chosenTo = () => {
    var chosenItem = $("#to").getSelectedItemData();
    var url = '/journeys/' + $('#from').data('slug') + '/' + chosenItem.slug;

    $('#to').data('placename', chosenItem.name);
    $('#to_result').empty();
    
    history.pushState(null, null, url);

    $.get({
      url: url,
      dataType: 'script'
    });
  }

  var options = {
    url: function(place) {
      return '/places.json?query=' + place
    },
    getValue: "name",
    list: {
      onChooseEvent: chosenFrom
    },
    theme: 'square'
  };
  
  window.onpopstate = function() {
    if (document.location.pathname == '/journeys') {
      $('#from').val('');
      $('#to').val('');
      $('#results').html('');
    } else if (document.location.pathname.match(/journeys\/[a-z\-]+$/)) {
      $('#to').val('');
      $('#results').html('');
    }
  }

  $('#from').easyAutocomplete(options);

  <% if @from %>
    enableTo('<%= @from.try(:slug) %>');
    $('#from').data('placename', '<%= @from.try(:name) %>');
  <% end %>
  
</script>
<% end %>
