<div class='container'>
  <div class='inner'>
    <%= form_tag do %>
      <%= text_field_tag :from, nil, placeholder: 'From' %>
      <%= hidden_field_tag :from_id %>
      <%= text_field_tag :to, nil, placeholder: 'To', disabled: true %>
      <%= hidden_field_tag :to_id %>
      <%= submit_tag 'See available journeys' %>
    <% end %>
  </div>
</div>

<% content_for :js do %>
<script type='text/javascript'>
  var enableTo = function() {
    var id = $("#from").getSelectedItemData().id;
    $('#from_id').val(id);
    options.url = function() {
      id = $('#from_id').val();
      return 'places.json?origin_id=' + id
    }
    options.list.onClickEvent = function() {
      var id = $("#to").getSelectedItemData().id;
      $('#to_id').val(id);
    };
    $.getJSON(options.url(), function(data) {
      console.log(data);
      if(data.length > 0) {
        $('#to').removeAttr('disabled');
        $('#to').easyAutocomplete(options);
      } else {
        $('#to').attr('placeholder', 'No destinations');
        $('#to').attr('disabled', 'disabled');
      }
    });
  };

  var options = {
    url: '/places.json',
    getValue: "name",
    list: {
      match: {
        enabled: true
      },
      onClickEvent: enableTo
    },
    theme: 'square'
  };

  options.url = '/places.json';
  $('#from').easyAutocomplete(options);

  $('#from').change(function() {
    $('#to').val('');
  });
</script>
<% end %>
