<%= render :partial => "layouts/mobile_header" %>

<h1>Customise Journey</h1>

<form>
	<label>From <input type="text" name="from"></label>
	<label>To <input type="text" name="to"></label>
</form>

<p>
  <%= link_to "Maldon to Denge", select_time_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_time_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_time_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_time_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_time_journeys_path %>
</p>

<%= render :partial => "layouts/mobile_footer" %>