<%= render partial: "layouts/mobile_header" %>

<h1>Customise Journey</h1>

<form id="journey-input">
  <div id="input-cont">
    <label>From <input type="text" name="from"></label>
    <label>To <input type="text" name="to"></label>
  </div>
</form>

<p>
  <%= link_to "Maldon to Denge", select_stops_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_stops_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_stops_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_stops_journeys_path %>
</p>

<p>
  <%= link_to "Maldon to Denge", select_stops_journeys_path %>
</p>

<%= render partial: "layouts/mobile_footer" %>
