<%= render partial: "layouts/mobile_header" %>

<h1>Choose time</h1>

<div class="card-cont">
  <div class="date">
    <h3>Today:</h3>
  </div>
  <div class="card">
    <div class="inner">
      <div class="left">
        <span class="timeEst">18:25 - 18:40</span><br/>
        <span class="pickUp">Dengie</span>
      </div>
      <div class="midArw"><i class="fa fa-arrow-right"></i></div>
      <div class="right">
        <span class="timeEst">19:05 - 19:20</span><br/>
        <span class="dropOff">Burnham-on-Crouch</span>
      </div>
    </div>
    <%= link_to select_pick_up_journeys_path do %>
      <div class="cardBtn">
        <span>Book Journey</span>
      </div>
    <% end %>
  </div>

  <div class="date">
    <h3>Tomorrow:</h3>
  </div>

  <div class="card">
    <div class="inner">
      <div class="left">
        <span class="timeEst">07:25 - 07:40</span><br/>
        <span class="pickUp">Dengie</span>
      </div>
      <div class="midArw"><i class="fa fa-arrow-right"></i></div>
      <div class="right">
        <span class="timeEst">08:05 - 08:20</span><br/>
        <span class="dropOff">Burnham-on-Crouch</span>
      </div>
    </div>
    <%= link_to select_pick_up_journeys_path do %>
      <div class="cardBtn">
        <span>Book Journey</span>
      </div>
    <% end %>
  </div>

  <div class="card">
    <div class="inner">
      <div class="left">
        <span class="timeEst">10:25 - 10:40</span><br/>
        <span class="pickUp">Dengie</span>
      </div>
      <div class="midArw"><i class="fa fa-arrow-right"></i></div>
      <div class="right">
        <span class="timeEst">11:05 - 11:20</span><br/>
        <span class="dropOff">Burnham-on-Crouch</span>
      </div>
    </div>
    <%= link_to select_pick_up_journeys_path do %>
      <div class="cardBtn">
        <span>Book Journey</span>
      </div>
    <% end %>
  </div>

  <div class="card">
    <div class="inner">
      <div class="left">
        <span class="timeEst">15:25 - 15:40</span><br/>
        <span class="pickUp">Dengie</span>
      </div>
      <div class="midArw"><i class="fa fa-arrow-right"></i></div>
      <div class="right">
        <span class="timeEst">16:05 - 16:20</span><br/>
        <span class="dropOff">Burnham-on-Crouch</span>
      </div>
    </div>
    <%= link_to select_pick_up_journeys_path do %>
      <div class="cardBtn">
        <span>Book Journey</span>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "layouts/mobile_footer" %>
