<div class="container">
  <div class="inner">
    <div class="card no-click">
      <div class="inner">
        <%= form_for [:admin, @supplier_suggestion] do |form| %>
          <p>Pickup is still currently being developed, if you see any issues or have any suggestions for improvements to the admin system for Pickup, please provide details below.</p>
          <%= form.hidden_field :url %>
          <%= form.label :description %>
          <%= form.text_area :description %>
          <%= form.submit "Submit Suggestion" %>
        <% end %>
      </div>
    </div>
  </div>
</div>