%section.section
  .card
    %h2
      Manage teams
    = form_for [:admin, @team] do |form|
    
      = form.label :name
      = form.text_field :name
      
      = form.label :email
      = form.email_field :email
      
      %section.section
      %h3
        Suppliers
        
      = form.fields_for :suppliers do |supplier|
        = render 'admin/teams/supplier', f: supplier
      
      = link_to_add_association 'Add supplier', form, :suppliers, partial: 'admin/teams/supplier', class: 'text'

      .action.primary      
        = form.submit 'Update', :class => 'button'
