= form_for [:admin, @team] do |form|

  = form.label :name
  = form.text_field :name
  
  = form.label :email
  = form.email_field :email
  
  %h3 Suppliers
    
  = form.fields_for :suppliers do |supplier|
    = render 'admin/teams/supplier', f: supplier
  
  .links
    = link_to_add_association 'Add Supplier', form, :suppliers, partial: 'admin/teams/supplier', class: 'button'
                
  %hr
  
  = form.submit 'Update', :class => 'button border-left-radius'
