<p><%= link_to 'Edit your profile', edit_supplier_registration_path %></p>

<% if current_supplier.admin? %>
  <p><%= link_to "Manage routes", admin_routes_path %></p>
<% end %>

<p>
  <%= link_to admin_vehicles_path do %>
    You have <%= pluralize current_team.vehicles.count, "vehicle" %> in your team
  <% end %>
</p>

<% if current_team.solo_team? %>
  <h3>You are currently the only person in your team</h3>
<% else %>
  <h3>You have <%= current_team.suppliers.count %> people in your team</h3>
  <ul>
    <% current_team.suppliers.each do |supplier| %>
      <li><%= supplier.name %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag destroy_supplier_session_path, method: :delete do %>
  <%= submit_tag "logout" %>
<% end %>
