%section.section
  .card
    %h3= current_supplier.name
    = link_to "Edit your profile", edit_supplier_registration_path
    .profile_details
      %p
        %strong Email:
        = current_supplier.email
      %p
        %strong Phone Number:
        = current_supplier.phone_number
      .profile_team
        - if !current_team.solo_team?
          %h3 Your Team:
        - if current_team.solo_team?
          %p You are currently the only person in your team - invite people now
        - else
          %p
            You have #{current_team.suppliers.count} people in your team:
          %ul
            - current_team.suppliers.each do |supplier|
              %li= supplier.name
          = link_to "Edit your profile", edit_supplier_registration_path
          = form_tag destroy_supplier_session_path, method: :delete do
            = submit_tag "Logout", class: 'text'
        - if current_supplier.admin?
          %h3 Super Admin Options
          %ul.admin
            %li
              #{link_to "View Bookings", admin_bookings_path}
            %li
              #{link_to "Manage Core Routes", admin_routes_path}
            %li
              #{link_to "Manage Suppliers", admin_suppliers_path}
            %li
              #{link_to "Manage Teams", admin_teams_path}
            %li
              #{link_to "View Suggestions", admin_suggestions_path}
            %li
              #{link_to "Manage Promo Codes", admin_promo_codes_path}
            %li
              #{link_to "Create a timetable", new_admin_timetable_path}
