<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Team</th>
    <th>Approved?</th>
    <th>Super admin?</th>
    <th></th>
  </tr>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.email %></td>
      <td><%= supplier.name %></td>
      <td><%= supplier.phone_number %></td>
      <td><%= supplier.team.name %></td>
      <td><%= supplier.approved? %></td>
      <td><%= supplier.admin? %></td>
      <td><%= link_to "edit", edit_admin_supplier_path(supplier) %></td>
    </tr>
  <% end %>
</table>