%section.book
  %h4
    = t("public-index.title.#{Rails.configuration.x.pickup.council}")
  = label_tag do
    = t('journey.from.label')
  = text_field_tag :from, nil, { placeholder: I18n.t('journey.from.message') }
  = label_tag do
    = t('journey.to.label')
  = text_field_tag :to, nil, placeholder: I18n.t('journey.to.message')
  #from_result.hidden{"aria-live" => "assertive", hidden: "", role: "alert", class: "error-block"}
    = t('message.sorry')
    from
    = succeed "." do
      %span#place
    %p
      = link_to I18n.t('button.more'), "promotion", class: "button small secondary cta"
  
  #results.hidden
    %i.fa.fa-spinner.fa-spin
