%section.book
  %h2
    = t("public-index.title")
  %p#loader
    %i.fa.fa-spinner.fa-spin
  .wrapper.hidden
    .input.from
      = label_tag do
        = t('journey.from.label')
      = text_field_tag :from, nil, { placeholder: I18n.t('journey.from.message') }
      %span.required-text.hidden.error.small
        Required
    
    .input.to
      = label_tag do
        = t('journey.to.label')
      = text_field_tag :to, nil, placeholder: I18n.t('journey.to.message')
      %span.required-text.hidden.error.small
        Required

    = link_to I18n.t('button.book'), '#', class: "button", id: "booking_submit"

    #from_result.hidden{"aria-live" => "assertive", hidden: "", role: "alert", class: "error-block"}
      = t('message.sorry')
      from
      = succeed "." do
        %span#place
        
    #results.hidden
      %i.fa.fa-spinner.fa-spin

    = link_to I18n.t('button.routes'), I18n.t('button.typeform-link'), class: 'button secondary'

  %p.small
    %span
      = t('public-index.planner.info')
    %span
      = t('public-index.planner.info_b')
    %span
      = t('public-index.planner.info_c')
