%section.hero
  %section.section.heading
    %h1
      = @page_title
    %h2
      = t("public-index.title.#{Rails.configuration.x.pickup.council}")

    %section.action
      %h4
        = t("public-index.intro.#{Rails.configuration.x.pickup.council}")
      = link_to I18n.t('button.book'), journeys_path, class: 'button cta'

%main.main
  -# class steps was taken, so journey


  %section.section.journey
    %section
      %span
        1
      %h3
        = t('steps.step_1.title')
      %p
        = t('steps.step_1.info')

    %section
      %span
        2
      %h3
        = t('steps.step_2.title')
      %p
        = t('steps.step_2.info')

    %section
      %span
        3
      %h3
        = t('steps.step_3.title')
      %p
        = t('steps.step_3.info')

  %section.section

    %p
      = t('public-index.about.info')

  %section.section
    .action
      %h3
        = t('action.title')
      = link_to I18n.t('button.contact'), journeys_path, class: 'button cta'
