%section.logo
  %h1
    = @page_title
%section.hero
  %section.section.heading
    %h2
      = t("public-index.title.#{Rails.configuration.x.pickup.council}")

    %section.action
      %h4
        = t("public-index.intro.#{Rails.configuration.x.pickup.council}")
      = link_to I18n.t('button.book'), 'https://bookpublictransport.typeform.com/to/PttmxO', class: 'button cta'

%main.main
  -# class steps was taken, so journey


  %section.section.journey
    %section.step
      %h3
        = t('steps.step_1.title')
      %p
        = t('steps.step_1.info')

    %section.step
      %h3
        = t('steps.step_2.title')
      %p
        = t('steps.step_2.info')

    %section.step
      %h3
        = t('steps.step_3.title')
      %p
        = t('steps.step_3.info')

  %section.section.info
    %h2
      = t('public-index.about.info')
    %h2
      = t('public-index.about.extra')

  %section.section
    .action
      = link_to I18n.t('button.book'), 'https://bookpublictransport.typeform.com/to/PttmxO', class: 'button cta'
      = link_to I18n.t('button.contact'), 'https://bookpublictransport.typeform.com/to/PttmxO', class: 'button cta secondary'

  %footer.psuedo-footer
