%section.logo
  %h1
    = @page_title
%section.hero
  %section.section.heading
    %h2
      = t("public-index.title.#{Rails.configuration.x.pickup.council}")

    %section.action
      %h4
        = t("public-index.intro.#{Rails.configuration.x.pickup.council}")
      = link_to I18n.t('button.main_book'), 'https://bookpublictransport.typeform.com/to/PttmxO', class: 'button cta'
      %p.small
        = t('button.main_book_asterisk')

%main.main

  %section.hero
    .overlay
    .event
    %section.section
      %h3
        = t('public-index.event.title')
      %p
        = t('public-index.event.info')

      %section.action
        = link_to I18n.t('button.event'), 'https://bookpublictransport.typeform.com', class: 'button cta'

  %section.hero.regular
    .overlay
    .event
    %section.section
      %h3
        = t('public-index.event.regular.title')
      %p
        = t('public-index.event.regular.info')

      %section.action
        = link_to I18n.t('button.regular'), 'https://bookpublictransport.typeform.com', class: 'button cta'


  -# class steps was taken, so journey


  %section.section.journey
    %section.step
      %h3
        = t('steps.step_1.title')
      %p
        = t('steps.step_1.info')

    %section.step
      %h3
        = t('steps.step_2.title')
      %p
        = t('steps.step_2.info')

    %section.step
      %h3
        = t('steps.step_3.title')
      %p
        = t('steps.step_3.info')

  %section.section.info
    %h2
      = t('public-index.about.info')
    %h2
      = t('public-index.about.extra')

  %section.section
    .action
      = link_to I18n.t('button.book'), 'https://bookpublictransport.typeform.com/to/PttmxO', class: 'button cta'
      = link_to I18n.t('button.contact'), 'https://bookpublictransport.typeform.com/to/PttmxO', class: 'button cta secondary'

  %footer.psuedo-footer
    %section.section
      %ul.social
        %li
          = link_to I18n.t('social.twitter.text'), t('social.twitter.link')
        %li
          = link_to I18n.t('social.facebook.text'), t('social.facebook.link')
      %ul.credit
        %li
          = t('credit.title')
          %span 
            = link_to I18n.t('credit.essex.text'), t('credit.essex.link')
          %span 
            = link_to I18n.t('credit.suffolk.text'), t('credit.suffolk.link')
          %span 
            = link_to I18n.t('credit.futuregov.text'), t('credit.futuregov.link')

