<!DOCTYPE html>
<html>
<head>
  <title>TotalTransport</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller.controller_name %>" id="<%= @body_id %>">
  <div id="suppliers-cont">
    <header>
      <div class="inner">
        <div class="left">
          <% if @back_path %>
            <div id="back-btn">
              <%= link_to @back_path do %>
                <i class="fa fa-chevron-left"></i> <span class="no-mobile">Back</span>
              <% end %>
            </div>
          <% else %>
            <div id="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="centre">
          <%= link_to admin_root_path do %>
            <% if current_supplier %>
              <%= current_supplier.name %>
            <% else %>
              Supplier
            <% end %>
            - Pickup Admin
          <% end %>
        </div>
        <div class="right">
          <% if current_supplier %>
            <%= link_to admin_team_path do %>
              <i class="fa fa-user"></i>
              <span class="no-mobile">Account</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>
    <% if alert.present? || notice.present? %>
      <div id="alerts" class="alerts">
        <section>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </section>
      </div>
    <% end %>
    <section class="supplier">
        <%= yield %>

      <div id="supplier-suggestion" class="suggestion center grey">
        <p>See something wrong, or have an idea for improvement?<br/>
        <%= link_to new_admin_supplier_suggestion_path(from_url: request.path) do %>
          Make a suggestion
        <% end %></p>
      </div>
    </section>
  </div>

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCStCdohZX5YZIQ9lbl1FJL1imDPF8EY5w&callback=initMap&libraries=drawing,geometry" async defer></script>
</html>
