<!DOCTYPE html>
<html>
<head>
  <title>Ride - Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller.controller_name %>" id="<%= @body_id %>">
  <div id="suppliers-cont">
    <header class="header">
      <%= link_to admin_root_path, class: "admin" do %>
<!--         <% if current_supplier %>
          <%= current_supplier.name %>
        <% else %>
          Supplier
        <% end %> -->
        Admin
      <% end %>
      <% if current_supplier %>
        <%= link_to admin_account_path, class: "account"  do %>
          Account
        <% end %>
      <% end %>
    </header>
    <% if @back_path %>
      <div id="back-btn">
        <%= link_to @back_path do %>
          <i class="fa fa-chevron-left"></i> <span class="no-mobile">Back</span>
        <% end %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div id="alerts" class="alerts">
          <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <% if notice.present? %>
      <div id="alerts" class="alerts">
          <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <section class="supplier">
        <%= yield %>

      <div id="supplier-suggestion" class="suggestion">
        <p>See something wrong, or have an idea for improvement?<br/>
        <%= link_to new_admin_supplier_suggestion_path(from_url: request.path) do %>
          Make a suggestion
        <% end %></p>
      </div>
    </section>
  </div>

</body>
<%= yield(:js) %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCStCdohZX5YZIQ9lbl1FJL1imDPF8EY5w&callback=initMap&libraries=drawing,geometry,places" async defer></script>
</html>
