<!DOCTYPE html>
<html>
<head>
  <title>TotalTransport</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="suppliers-cont">
    <header>
      <div class="inner">
        <div class="left">
          &nbsp;<!--<form><input id="backbtn" Type="button" VALUE="< Back" onClick="history.go(-1);return true;"></form>-->
        </div>
        <div class="centre">
          <%= link_to admin_root_path do %>
            <% if current_supplier %>
              <%= current_supplier.name %>
            <% else %>
              Supplier
            <% end %>
            - Admin
          <% end %>
        </div>
        <div class="right">
          <% if current_supplier %>
            <%= link_to 'Account', admin_team_path %>
          <% end %>
        </div>
      </div>
    </header>
    <% if alert.present? || notice.present? %>
      <div id="alerts" class="alerts">
        <section>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </section>
      </div>
    <% end %>
    <section class="supplier">
      <div class="card-cont">
        <%= yield %>

        <section id="footer">
          <%= link_to new_admin_supplier_suggestion_path(from_url: request.path) do %>
            Suggest An Edit
          <% end %>
        </section>
      </div>
    </section>
  </div>

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCStCdohZX5YZIQ9lbl1FJL1imDPF8EY5w&callback=initMap&libraries=drawing,geometry" async defer></script>
</html>
