<!DOCTYPE html>
<html>
<head>
  <title>TotalTransport</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller.controller_name %>" id="<%= @body_id %>">
  <header class="header">
    <div class="inner">
      <div class="left">
        <% if @back_path %>
          <div id="back-btn">
            <%= link_to @back_path do %>
              <i class="fa fa-chevron-left"></i> <span class="no-mobile">Back</span>
            <% end %>
          </div>
        <% else %>
          <div id="spacer">&nbsp;</div>
        <% end %>
      </div>
<!--  
      <div class="centre">
        <div id="desktop-title" class="no-mobile">
          <%= @page_title %>
        </div>
        <div id="mobile-title" class="no-desktop">
          <% if @page_title == "" %>
            &nbsp;
          <% else %>
            <%= @page_title %>
          <% end %>
        </div>
      </div>
-->
      <div class="right">
        <% if current_passenger %>
          <div id="profile-link">
            <%= link_to current_passenger do %>
              <i class="fa fa-user"></i>
            <% end %>
          </div>
          <div id="cancel-booking" class="hidden">
            <i class="fa fa-times"></i>
          </div>
          <!--<div class="no-mobile">
            <%= link_to current_passenger.phone_number, current_passenger %>
            <%= link_to 'logout', current_passenger, method: :delete %>
          </div>-->
        <% end %>
      </div>
    </div>
  </header>

  <% if flash[:alert].present? || @flash_alert.present? %>
    <div id="alerts" class="alerts container">
      <div class="inner">
        <p class="alert"><%= flash[:alert] %><%= @flash_alert %></p>
      </div>
    </div>
  <% end %>
  
  <% if content_for?(:top_sec) %>
    <div class="top-sec container white-block">
      <div class="inner">
        <span><%= yield(:top_sec) %></span>
      </div>
    </div>
  <% end %>

  <div class="main-cont">
    <%= yield %>
  </div>

  <div class="pop-up">
    <div class="pop-up-box card no-click">
      <div class="inner">
        <span class="pop-up-close top-right"><i class="fa fa-times"></i></span>
        <h3>Are you sure you want to cancel?</h3>
        <p>None of the booking will be saved and you will be taken back to the Choose Routes screen.</p>
        <%= link_to routes_path do %>
          <div class="button negative small-button">Cancel Booking</div>
        <% end %>
        <div class="button small-button" id="popup-continue">Continue Booking</div>
      </div>


    </div>
  </div>
  <footer class="footer"></footer>
</body>
<%= yield(:js) %>
</html>
