<!DOCTYPE html>
<html>
<head>
  <title>TotalTransport</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="mobile-cont">
    <header>
      <div class="inner">
        <div class="left">
          &nbsp;<!--<form><input id="backbtn" Type="button" VALUE="< Back" onClick="history.go(-1);return true;"></form>-->
        </div>
        <div class="centre">
          Essex Better Bus
        </div>
        <div class="right">
          <% if current_passenger %>
            <%= link_to current_passenger.phone_number, passenger_path %>
            <%= link_to 'logout', passenger_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </header>
    
    <div id="alerts">
      <section>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </section>
    </div>

    <section>
      <%= yield %>
    </section>
  </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCStCdohZX5YZIQ9lbl1FJL1imDPF8EY5w&callback=initMap&libraries=drawing,geometry" async defer></script>
</html>
