<!DOCTYPE html>
<html>
<head>
  <title>TotalTransport</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller.controller_name %>" id="<%= @body_id %>">
  <header>
    <div class="inner">
      <div class="left">
        &nbsp;
      </div>
      <div class="centre">
        <div id="desktop-title" class="no-mobile">
          <%= @page_title %>
        </div>
        <div id="mobile-title" class="no-desktop">
          <%= @page_title %>
        </div>
      </div>
      <div class="right">
        <% if current_passenger %>
          <div class="no-desktop">
            <%= link_to passenger_path do %>
              <i class="fa fa-user"></i>
            <% end %>
          </div>
          <div class="no-mobile">
            <%= link_to current_passenger.phone_number, passenger_path %>
            <%= link_to 'logout', passenger_path, method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
  </header>
  
  <div id="alerts" class="alerts">
    <section>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>
  </div>

  <% if @top_sec != false %>
    <div class="top-sec container white-block">
      <div class="inner">
        <span><%= @top_sec %></span>
      </div>
    </div>
  <% end %>

  <div class="main-cont">
    <%= yield %>
  </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCStCdohZX5YZIQ9lbl1FJL1imDPF8EY5w&callback=initMap&libraries=drawing,geometry" async defer></script>
</html>
